<a class="btn btn-add add_layer_button" {{action 'toggleModal' model}}><span class="mdi-large"></span>Add/Remove Layers</a>
{{#if isShowingRasterModal}}

	{{#modal-dialog close="closeRasterModal" alignment="left" translucentOverlay=true}}

	<div id="searchableRasterLayers">
		<nav class="navbar navbar-inverse" id="filter_and_search">
			<a {{action 'closeRasterModal'}}><span class="mdi-action-highlight-remove pull-right"></span></a>
		<form class="navbar-form navbar-left layer-search" role="search">
		  <div class="form-group">
		    <input type="text" class="form-control" id="raster-search" placeholder="Search">
		  </div>
		  <button {{action "search"}} type="submit" class="btn btn-default">Submit</button>
		</form>
	</nav>
		<div class="list">
			{{#if results.isPending}}
				<div class="modal-loading" id="raster-modal">
					<img src="/assets/images/loaders/Preloader_19.gif" alt="LOADING"/>
				</div>
			{{else}}
			    <h3>{{results.length}} raster layers found</h3>
				{{#each results key="@index" as |layer|}}
					<div {{bind-attr class=":layer-list-item :row :name layer.tag_slugs layer.institution.slug layer.layer_type" }}>
						<div class="col-xs-2 remove-layer-button">

							{{add-remove-layer-button add="sendRasterLayerToAdd" remove="sendRasterLayerToRemove" layer=layer}}

						</div>
						<div class="col-xs-9">
							<h4 class="name"><span {{bind-attr class="layer.layer_type :description_icon"}}></span> {{layer.name}}</h4>
							<p>
								<div class="description">{{layer.description}}</div>
							</p>
							<p>
								{{!-- not sure why i can't wrap the whole thing in a single if but doing so results in a build error :( --}}
								{{#if layer.tag_ids}}
									<span class="tagsIcon"></span>
								{{/if}}
								<ul class="list-inline">
									{{#each layer.tag_ids key="@index" as |tag|}}
									{{#if layer.tag_ids}}
										<li class="tags">{{tag.name}}</li>
										{{/if}}
									{{/each}}
								</ul>
								<div class="institution">Provided by: <em>{{layer.institution.name}}</em></div>
							</p>
						</div>
					</div>
					{{else}}
				{{/each}}
			{{/if}}
			<h3 class="use_search">Use the search bar to find avaliable layers.</h3>
			<h3 class="no_results">Search returned no results.</h3>
		</div>
	</div>


	{{/modal-dialog}}
{{/if}}


{{#if isShowingVectorModal}}

  {{#modal-dialog close="closeVectorModal" alignment="left" translucentOverlay=true}}
  <div id="searchableVectorLayers">
  {{filter-layers action="closeVectorModal"}}

  <div class="list">
  		{{#if vectorLayers.isPending}}
  			<div class="modal-loading" id="vector-modal">
				<img src="/assets/images/loaders/Preloader_19.gif" alt="LOADING"/>
			</div>
  		{{else}}
		{{#each vectorLayers.content key="@index" as |layer|}}
			<div {{bind-attr class=":layer-list-item :row :name layer.tag_slugs layer.institution.slug layer.layer_type" }}>
				<div class="col-xs-2">
					{{add-remove-layer-button add="sendVectorLayerToAdd" remove="sendVectorLayerToRemove" layer=layer}}

				</div>
				<div class="col-xs-9">
					<h4 class="name"><span {{bind-attr class="layer.layer_type :description_icon"}}></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
								{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{layer.institution.name}}
    				</p>
				</div>
			</div>
		{{/each}}
		{{/if}}
</div>
</div>

  {{/modal-dialog}}

{{/if}}
