	{{#if isShowingRasterModal}}

  {{#modal-dialog close="toggleRasterModal" alignment="center" translucentOverlay=true}}
    
  <div class="list">
	{{#if layers.isPending}}
		Loading...
	{{else}}
	{{#each rasterLayers.content key="@index" as |layer|}}
			<div class="layer-list-item row name {{layer.tag_slugs}} {{layer.institution.slug}} {{layer.layer_type}}">
				<div class="col-xs-2">
					{{#if layer.active_in_project}}
						<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeRasterLayer" layer }}><span class="mdi-content-clear"></span></a>
					{{else}}
						<a class="btn rotate btn-add btn-fab btn-sm" {{action "addRasterLayer" layer }}><span class="mdi-content-add"></span></a>
					{{/if}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span class="{{layer.layer_type}} description_icon"></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
							{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>


  {{/modal-dialog}}
{{/if}}


{{#if isShowingVectorModal}}

  {{#modal-dialog close="toggleVectorModal" alignment="center" translucentOverlay=true}}
    
  <div class="list">
	{{#if layers.isPending}}
		Loading...
	{{else}}
		{{#each vectorLayers.content key="@index" as |layer|}}
			<div class="layer-list-item row name {{layer.tag_slugs}} {{layer.institution.slug}} {{layer.layer_type}}">
				<div class="col-xs-2">
					{{#if layer.active_in_project}}
						<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeVectorLayer" layer }}><span class="mdi-content-clear"></span></a>
					{{else}}
						<a class="btn rotate btn-add btn-fab btn-sm" {{action "addVectorLayer" layer }}><span class="mdi-content-add"></span></a>
					{{/if}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span class="{{layer.layer_type}} description_icon}}"></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
								{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>


  {{/modal-dialog}}
{{/if}}