<a class="btn btn-add add_layer_button" {{action 'toggleModal' model}}><span class="mdi-large"></span>Add/Remove Layers</a>
{{#if isShowingRasterModal}}

	{{#modal-dialog close="closeRasterModal" alignment="left" translucentOverlay=true}}

	<div id="searchableRasterLayers">
		{{filter-layers action="closeRasterModal"}}
		<div class="list">
			{{#if rasterLayers.isPending}}
				<div class="modal-loading" id="raster-modal">
					<img src="/assets/images/loaders/Preloader_19.gif" alt="LOADING"/>
				</div>
			{{else}}
				{{#each rasterLayers.content key="@index" as |layer|}}
					<div {{bind-attr class=":layer-list-item :row :name layer.tag_slugs layer.institution.slug layer.layer_type" }}>
						<div class="col-xs-2 remove-layer-button">

							{{add-remove-layer-button add="sendRasterLayerToAdd" remove="sendRasterLayerToRemove" layer=layer}}

						</div>
						<div class="col-xs-9">
							<h4 class="name"><span {{bind-attr class="layer.layer_type :description_icon"}}></span> {{layer.name}}</h4>
							<p>
								<div class="description">{{layer.description}}</div>
							</p>
							<p>
								{{!--{{#if layer.tag_ids}}--}}
									<span class="tagsIcon"></span>
									<ul class="list-inline">
										{{#each layer.tag_ids key="@index" as |tag|}}
											<li class="tags">{{tag.name}}</li>
										{{else}}
											<li>none</li>
										{{/each}}
									</ul>
								{{!--{{/if}--}}
							</p>
						</div>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>


	{{/modal-dialog}}
{{/if}}


{{#if isShowingVectorModal}}

  {{#modal-dialog close="closeVectorModal" alignment="left" translucentOverlay=true}}
  <div id="searchableVectorLayers">  
  {{filter-layers action="closeVectorModal"}}
  
  <div class="list">
  		{{#if vectorLayers.isPending}}
  			<div class="modal-loading" id="vector-modal">
				<img src="/assets/images/loaders/Preloader_19.gif" alt="LOADING"/>
			</div>
  		{{else}}
		{{#each vectorLayers.content key="@index" as |layer|}}
			<div {{bind-attr class=":layer-list-item :row :name layer.tag_slugs layer.institution.slug layer.layer_type" }}>
				<div class="col-xs-2">
					{{add-remove-layer-button add="sendVectorLayerToAdd" remove="sendVectorLayerToRemove" layer=layer}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span {{bind-attr class="layer.layer_type :description_icon"}}></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
								{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
		{{/if}}
</div>
</div>

  {{/modal-dialog}}

{{/if}}