{{#if hasBlock}}
<a {{action 'setBase' base}} title="Open Street Map">
  {{yield}}
</a>
{{else}}
<a {{action 'setBase' 'street'}} title="Open Street Map">
  <div class='base-preview street z-depth-3' />
</a>
<a {{action 'setBase' 'satellite'}} title="Satellite">
  <div class='base-preview satellite z-depth-3' />
</a>

<a {{action 'setBase' 'greyscale'}} title="Greyscale">
  <div class='base-preview greyscale z-depth-3' />
</a>
{{/if}}
