<h5>Tags</h5>
<ul class="collapsible" data-collapsible="accordion">
  {{#each model as |category|}}
  <li>
    <div class="collapsible-header"><i class="material-icons">{{if category.checked 'check_box' 'indeterminate_check_box'}}</i>{{category.name}}</div>
    <div class="collapsible-body">
      <ul>
        <li>
          <input type="checkbox"
            class="tags filled-in"
            id='{{category.slug}}'
            checked={{category.allChecked}}
            onchange={{action "checkAllTagsInCategory" category}}
          />
          <label for={{category.slug}}>
            Select All
        </label>
      </li>
    {{#each category.sortedTags as |tag|}}
    <li class='tags'>
      <input type="checkbox"
          class="tags {{category.slug}} filled-in"
          id="{{tag.slug}}"
          name="{{tag.name}}"
          category="{{category.slug}}"
          checked="{{if tag.checked false}}"
          onchange={{action "checkSingleTag" tag category}}
      />
      <label for={{tag.slug}}>{{tag.name}}</label>
    </li>
    {{/each}}
  </ul>
  </div>
  </li>
  {{/each}}
</ul>
{{!-- {{#md-card-collapsible }}
  <h5>Tags</h5>
  {{#each model as |category|}}
    {{#md-collapsible title=category.name}}
    <div class="{{if category.checked 'checked'}}">

          <input type="checkbox"
            class="tags"
            id='{{category.slug}}'
            checked="{{if category.allChecked false}}"
            onchange={{action "checkAllTagsInCategory" category}}
          />
          <label for={{category.slug}}>
            Select All
        </label>
        <br />
        {{#each category.sortedTags as |tag|}}
          <input type="checkbox"
              class="tags {{category.slug}}"
              id="{{tag.slug}}"
              name="{{tag.name}}"
              category="{{category.slug}}"
              checked="{{if tag.checked false}}"
              onchange={{action "checkSingleTag" tag}}
          />
          <label for={{tag.slug}}>{{tag.name}}</label>
          <br />
        {{/each}}
      </div>
    {{/md-collapsible}}
  {{/each}}
{{/md-card-collapsible}} --}}
    {{!-- <div class="row">
        <ul class="list-unstyled categories col-md-12">
            {{#each model as |category|}}
            <li class="category">
                <a {{action 'showTagGroup' category}}>
                    <span><i class="material-icons {{unless category.checked "hidden"}}">done</i></span>
                    {{category.name}}
                </a>
                {{#liquid-if category.clicked class="category"}}
                <ul class="list-unstyled tag-group pull-left {{unless category.clicked 'hidden'}}" id="{{category.slug}}">
                    <li class="checkbox">
                            <label>
                                <input type="checkbox" class="tags" checked="{{if category.allChecked false}}" onchange={{action "checkAllTagsInCategory" category}} />
                                <span class="check"></span>
                                Select All
                            </label>
                    </li>
                    {{#if category.sortedTags}}
                    {{#each category.sortedTags as |tag|}}
                    <li class="checkbox">
                        <label>
                            <input type="checkbox"
                                class="tags {{category.slug}}"
                                id="{{tag.name}}"
                                name="{{tag.name}}"
                                category="{{category.slug}}"
                                checked="{{if tag.checked false}}"
                                onchange={{action "checkSingleTag" tag}}
                            />
                            <span class="check"></span>
                            {{tag.name}}
                        </label>
                    </li>
                    {{/each}}
                    {{else}}
                        <li>Loading...</li>
                    {{/if}}
                </ul>
                {{/liquid-if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div> --}}
