<h5>Tags</h5>
{{#accordion-panel items=model as |category panel|}}
  {{#panel.header id=category.slug class='tag-button'}}
  <a {{action 'checkAllTagsInCategory' category}}>  <i class="fa {{if category.checked 'fa-check-square-o' 'fa-square-o'}} {{if category.allChecked 'active'}}" aria-hidden="true"></i></a>
    {{category.name}}
  {{/panel.header}}
  {{#panel.body tagName="ul" class='tag-list'}}
        {{#each category.sortedTags as |tag|}}
    <li class='listed-tag'>
      <a {{action 'checkSingleTag' tag category}} class='checkbox-link'>
        <i class="fa {{if tag.checked 'fa-check-square-o active' 'fa-square-o'}}" aria-hidden="true"></i>

        {{if tag.name tag.name 'Loading...'}}
      </a>
    </li>
    {{/each}}
  {{/panel.body}}
{{/accordion-panel}}
