{{#ember-wormhole to="results"}}
<div class="row">
  <div class="col s12 scroll-top">
    {{!-- <a {{action burger.state.actions.toggle}} class="close-results scroll-top">Close</a> --}}
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#rasters"><i class="material-icons">layers</i> Historical Maps</a></li>
      <li class="tab col s6"><a href="#vectors"><i class="material-icons atlmaps-ext database"></i> Data Maps</a></li>
    </ul>
  </div>
  <div id='rasters' class='col s12 scroll-container'>
    {{!-- <div class="result-count col s12">{{rasters.content.meta.total_count}} Historical Maps found.</div> --}}
    <ul class='scroll-content'>
      {{#each rasters as |raster|}}
        <li>
          <input type="checkbox"
            class="filled-in"
            id={{raster.slug}}
            checked={{raster.active_in_project}}
            onchange={{action (route-action "addRemoveLayer" raster)}}
          />
          
          <label for={{raster.slug}}>
            {{if raster.title raster.title "Loading..."}}
          </label>
          <section>{{raster.description}}</section>
        </li>
      {{/each}}
    </ul>
    {{pagination-links meta=rasters.content.meta}}
  </div>
  <div id='vectors' class='col s12'>
    <ul>
      {{#each vectors as |vector|}}
        <li>{{if vector.title vector.title 'Loading...'}}</li>
      {{/each}}
    </ul>
  </div>
</div>
{{/ember-wormhole}}
