{{#ember-wormhole to="results" }}
  <div class="scroll-top">
    <ul class="tabs">
      <li class="tab">
        <a class='active' href="#search">
            <span><i class="material-icons">search</i></span>
            <span>Search</span>
        </a>
      </li>
      <li class="tab">
        <a href="#rasters">
            <span><i class="material-icons result-icon">layers</i>
            {{#if rasters}}
              <span class='z-depth-3 result-count'>{{rasters.content.meta.total_count}}</span>
            {{/if}}</span>
            <span>Maps</span>
        </a>
        <div class='{{if rasters_diffResults  'glow-tab'}}' />
      </li>
      <li class="tab">
        <a href="#vectors">
            <span>
              <i class="material-icons atlmaps-ext database result-icon"></i>
              {{#if vectors}}
                <span class='z-depth-3 result-count'>{{vectors.content.meta.total_count}}</span>
              {{/if}}
            </span>
            <span>
              Data
            </span>
        </a>
        <div class='{{if vectors_diffResults  'glow-tab'}}' />
      </li>
    </ul>
  </div>

  {{! Search }}
  <div id='search' class='col s12 scroll-container'>
    <div class='scroll-content'>
      {{browse-text getResults=(route-action 'getResults')}}
      <hr /> {{search-bounds getResults=(route-action 'getResults')}}
      <hr /> {{browse-tags model=model.categories getResults=(route-action 'getResults')}}
      <hr /> {{browse-institution model=model.institutions getResults=(route-action 'getResults')}}
    </div>
  </div>
  {{search-list-results type='rasters' layers=rasters id='rasters'}}
  {{search-list-results type='vectors' layers=vectors id='vectors'}}
{{/ember-wormhole}}
