<h5>Tags</h5>
<ul class="collapsible" data-collapsible="accordion">
  {{#each model as |category|}}
  <li>
    <div class="collapsible-header"><i class="material-icons">{{if category.checked 'check_box' 'indeterminate_check_box'}}</i>{{category.name}}</div>
    <div class="collapsible-body">
      <ul>
        <li>
        <a {{action 'checkAllTagsInCategory' category}} class='checkbox-link'>
          <i class="material-icons {{if category.allChecked 'active'}}">
            {{if category.allChecked 'check_box' 'check_box_outline_blank'}}
          </i>
          Select All
        </a>
      </li>
    {{#each category.sortedTags as |tag|}}
    <li class='tags'>
      <a {{action 'checkSingleTag' tag category}} class='checkbox-link'>
        <i class="material-icons {{if tag.checked 'active'}}">
          {{if tag.checked 'check_box' 'check_box_outline_blank'}}
        </i>
        {{tag.name}}
      </a>
    </li>
    {{/each}}
  </ul>
  </div>
  </li>
  {{/each}}
</ul>
