<div class="row browse-pane">
    <div class="layer-search col-md-4">
        <section>
            <input type="text" class="form-control pull-left" id="search-field" placeholder="Search" onchange={{action "search"}}>
            <button {{action "search"}} type="submit" class="btn btn-info pull-right"><i class="material-icons">search</i></button>
            <hr />
        </section>

<section class="browse-by-tags container">
    <h1>Tags:</h1>
    {{#each checkedTags key="@index" as |checkedTag|}}
    {{#if checkedTag.checked}}
    <h2>{{checkedTag.name}}</h2>
    {{/if}}
    {{/each}}
    <section>
        <ul class="list-unstyled categories">
            {{#each categories key="@index" as |category|}}
            <li class="category">
                <a {{action 'showTagGroup' category}}>
                    <span><i class="material-icons {{unless category.checked "hidden"}}">done</i></span>
                    {{category.name}}
                </a>
                {{#liquid-if category.clicked}}
                <ul class="list-unstyled tag-group pull-left {{unless category.clicked 'hidden'}}" id="{{category.slug}}">
                    <li class="checkbox">
                            <label>
                                <input type="checkbox" class="tags" onchange={{action "checkAllTagsInCategory" category}} />
                                <span class="check"></span>
                                Select All
                            </label>
                    </li>
                    {{#each category.sortedTags key="@index" as |tag|}}
                    <li class="checkbox">
                        <label>
                            <input type="checkbox"
                                class="tags {{category.slug}}"
                                id="{{tag.name}}"
                                name="{{tag.name}}"
                                category="{{category.slug}}"
                                checked="{{if tag.checked false}}"
                                onchange={{action "checkSingleTag" category tag}}
                            />
                            <span class="check"></span>
                            {{tag.name}}
                        </label>
                    </li>
                    {{/each}}
                </ul>
                {{/liquid-if}}
            </li>
            {{/each}}
        </ul>
    </section>
</section>

<section class="row">
    <hr />
</section>


        <div class="browse-by-years browse-form">
            <h1>Years:</h1>
            <div class="year-slider">
                <div id="range"></div>
                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="start_year" placeholder="Start Year" value={{yearRange.min_year}}>
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="end_year" placeholder="End Year" value={{yearRange.max_year}}>
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="browse-by-institution browse-form">
            <h1>Institutions:</h1>
            <!-- <div class="radio radio-primary">
                <label>
                    <input type="radio" name="optionsRadios" id="all" value="" onchange={{action "selectedInstitution" ""}}><span class="circle"></span><span class="check"></span>
                    Clear
                </label>
            </div> -->
            {{#each institutions key="@index" as |institution|}}
                <!-- <div class="radio radio-primary">
                    <label>
                        <input type="radio" name="optionsRadios" id="{{institution.slug}}" value="{{institution.slug}}" onchange={{action "selectedInstitution" institution.name}}><span class="circle"></span><span class="check"></span>
                        {{institution.name}}
                    </label>
                </div> -->
                <div class="checkbox institution">
                    <label>
                        <input type="checkbox" class='inst-check' id="{{institution.slug}}" name="{{institution.name}}" onchange={{action "checkInstitution" institution.name}} />
                        <span class="check"></span>
                        {{institution.name}}
                    </label>
                </div>
            {{/each}}
        </div>
    </div>
</div>
