{{#ember-wormhole to="results" }}
  <div class="scroll-top">
    <ul class="tabs">
      <li class="tab">
        <a class='active' href="#search">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <span>Search</span>
        </a>
      </li>
      <li class="tab">
        <a href="#rasters">
            <span>
              {{#if searchingRasters}}
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Searching...</span>
              {{else}}
                <i class="fa fa-map" aria-hidden="true"></i>
              {{/if}}
              <span class='z-depth-3 result-count'>{{if model.rasters model.rasters.meta.total_count '0'}}</span>
            </span>
            <span>Maps</span>
        </a>
        <div class='{{if rasters_diffResults  'glow-tab'}}' />
      </li>
      <li class="tab">
        <a href="#vectors">
            <span>
              {{#if searchingVectors}}
                <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Searching...</span>
              {{else}}
                <i class="fa fa-database" aria-hidden="true"></i>
              {{/if}}
              <span class='z-depth-3 result-count'>{{if model.vectors model.vectors.meta.total_count '0'}}</span>
            </span>
            <span>
              Data
            </span>
        </a>
        <div class='{{if vectors_diffResults  'glow-tab'}}' />
      </li>
    </ul>
  </div>

  {{! Search }}
  <div id='search' class='col s12 scroll-container'>
    <div class='scroll-content'>
      {{browse-text getResults=(route-action 'getResults')}}
      <hr /> {{search-bounds getResults=(route-action 'getResults')}}
      <hr /> {{browse-tags model=model.categories getResults=(route-action 'getResults')}}
      <hr /> {{browse-institution model=model.institutions getResults=(route-action 'getResults')}}
    </div>
  </div>
  {{search-list-results type='rasters' layers=model.rasters id='rasters'}}
  {{search-list-results type='vectors' layers=model.vectors id='vectors'}}
{{/ember-wormhole}}
