<!-- <input type="checkbox" name="show-results" value="Car"> -->
<div class="browse-results">
    {{!#liquid-if}}
    <div class="results-toolbar">
        <i class="material-icons" onclick={{route-action "toggleResults"}}>
            expand_more
        </i>{{showingResults}}
    </div>
    {{!else}}
        <!-- <div class="results-toolbar" style="width:50%">
            <i class="material-icons" onclick={{route-action "toggleResults"}}>
                expand_more
            </i>
        </div> -->
    {{!/liquid-if}}
    {{#if showingResults}}
    <!-- <div class="tab-wrap browse-nav" style="background-color: white;"> -->
    {{#liquid-if (has-results model) class="tab-wrap browse-nav" containerless=true}}
        <input type="radio" name="tabs" id="tab1" checked>
        <div class="tab-label-content" id="tab1-content">
            <label for="tab1">Paper Maps</label>
            <div class="tab-content">
                <div style="display: flex;position: relative;height: 1rem;z-index: 10;"></div>
                <div class="results-container">
                    <div class="col-md-12 result-list">
                        <ul>
                        {{#each model.raster_layer_ids as |raster|}}
                            {{! Show "Loading..." if the title hasn't loaded yet.}}
                            <li>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label style="background-color: transparent;">
                                            <input type="checkbox"
                                                checked="{{if raster.active_in_project false}}"
                                                {{action (route-action "addLayer" raster 'raster') on="change"}}
                                            />
                                            <span class="check"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-10">
                                        <h3>{{if raster.title raster.title "Loading..."}}</h3>
                                        <p>{{raster.description}}</p>
                                    </div>
                                </div>
                            </li>

                        {{/each}}
                    </ul>
                    <div style="height:10rem; opacity:0;"></div>
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" name="tabs" id="tab2">
        <div class="tab-label-content" id="tab2-content">
            <label for="tab2">Data Maps</label>
            <div class="tab-content" style="background-color: white;">
                <div style="display: flex;position: relative;height: 1rem;z-index: 10;"></div>
                <div class="results-container">
                    <div class="col-md-12 result-list">
                        <ul>
                        {{#each model.vector_layer_ids as |vector|}}
                            {{! Show "Loading..." if the title hasn't loaded yet.}}
                            <li>
                                <h3>{{if vector.title vector.title "Loading..."}}</h3>
                                <p>{{vector.description}}</p>
                            </li>
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide"></div>

{{else}}
<h5>NOTHING</h5>
{{/liquid-if}}
<!-- </div> -->
{{/if}}
</div>
