<h5>Institutions:</h5>
{{#each model as |institution|}}
    <div class="checkbox institution">
            <input type="checkbox"
                class='inst-check'
                id="{{institution.slug}}"
                name="{{institution.name}}"
                checked="{{if institution.checked "checked" flase}}"
                onchange={{action "checkInstitution" institution}} />

                <label for='{{institution.slug}}' class='institution-label'>
            {{institution.name}}
        </label>
    </div>
{{/each}}
