{{#ember-wormhole to="results" }}
  <div class="col s12 scroll-top">
    <ul class="tabs">
      <li class="tab col s4">
        <a class='active' href="#search">
          <div class='col s12'>
            <i class="material-icons">search</i>
          </div>
          <div class='col s12'>
            Search
          </div>
        </a>
      </li>
      <li class="tab col s4">
        <a href="#rasters">
          <div class='col s12'>
            <i class="material-icons result-icon">layers</i>
            {{#if rasters}}
              <span class='z-depth-3 result-count'>{{rasters.content.meta.total_count}}</span>
            {{/if}}
          </div>
          <div class='col s12'>
            Maps
          </div>
        </a>
      </li>
      <li class="tab col s4">
        <a href="#vectors">
          <div class=''>
            <i class="material-icons atlmaps-ext database result-icon"></i>
            {{#if vectors}}
              <span class='z-depth-3 result-count'>{{vectors.content.meta.total_count}}</span>
            {{/if}}
            <div class=''>
              Data
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>

  {{! Search }}
  <div id='search' class='col s12 scroll-container'>
    <div class='scroll-content'>
      {{browse-text getResults=(route-action 'getResults')}}
      <hr /> {{search-bounds getResults=(route-action 'getResults')}}
      <hr /> {{browse-tags model=model.categories getResults=(route-action 'getResults')}}
      <hr /> {{browse-institution model=model.institutions getResults=(route-action 'getResults')}}
    </div>
  </div>
  {{search-list-results type='rasters' layers=rasters id='rasters'}} {{search-list-results type='vectors' layers=vectors id='vectors'}}
{{/ember-wormhole}}
