{{#ember-wormhole to="modal-overlays"}}

{{input type="checkbox"
        checked=project.showing_browse_results
        elementId="toggleResultsCheck"
        change=(route-action "toggleResults" project)
}}
<label for="toggleResultsCheck" class="show-results-btn"><i class="material-icons">view_list</i></label>
<div class="browse-results">
    <div class="results-toolbar">
        <label for="toggleResultsCheck">
            <span class="arrow"></span>
            <!-- <i class="material-icons">arrow_drop_down</i> -->
        </label>
        <span>Search Results</span>
    </div>
    <div class="tab-wrap browse-nav">
        <input type="radio" name="tabs" id="tab1" checked>
        <div class="tab-label-content" id="tab1-content">
            <label for="tab1"><i class="material-icons">layers</i> Historical Maps</label>
            <div class="tab-content {{if model.raster_layer_ids "has-results"}}">

                <div class="results-container">
                    <div class="col-md-12 result-list">
                        <ul>
                            <li><span class="result-count">{{model.raster_layer_ids.length}} Historical Maps found.</span></li>
                            {{#each model.raster_layer_ids as |raster|}}
                                {{! Show "Loading..." if the title hasn't loaded yet.}}
                                <li class="{{if raster.active_in_project "active" }}">
                                    <div class="row-eq-height">
                                        <div class="col-sm-1">
                                            {{! Uses an Embe CLI wrapper for Transformicons http://alexdiliberto.com/ember-cli-transformicons/#/add}}
                                            {{t-add a="check" is-added=raster.active_in_project action=(route-action "addRemoveLayer" raster) class="pull-right"}}
                                        </div>
                                        <div class="col-sm-11">
                                            <h3>{{if raster.title raster.title "Loading..."}}</h3>
                                            <p>{{raster.description}}</p>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <input type="radio" name="tabs" id="tab2">
        <div class="tab-label-content" id="tab2-content">
            <label for="tab2"><i class="material-icons atlmaps-ext database"></i> Data Maps</label>
            <div class="tab-content {{if model.vector_layer_ids "has-results"}}">
                <div class="results-container">
                    <div class="col-md-12 result-list">
                        <ul>
                            <li><span class="result-count">{{model.vector_layer_ids.length}} Data Layers found.</span></li>
                            {{#each model.vector_layer_ids as |vector|}}
                                <li class="{{if vector.active_in_project "active" }}">
                                    <div class="row-eq-height">
                                        <div class="col-sm-1">
                                            {{! Uses an Embe CLI wrapper for Transformicons http://alexdiliberto.com/ember-cli-transformicons/#/add}}
                                            {{t-add a="check" is-added=vector.active_in_project action=(route-action "addRemoveLayer" vector) class="pull-right"}}
                                        </div>
                                        <div class="col-sm-11">
                                            <h3>{{if vector.title vector.title "Loading..."}}</h3>
                                            <p>{{vector.description}}</p>
                                        </div>
                                    </div>
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide"></div>

        {{!else}}
        <!-- <h5>NOTHING</h5> -->
    </div>
</div>
{{/ember-wormhole}}
