<a {{action 'openEditModal'}}>Edit Intorduction</a>
{{#if isShowingEditModal}}
	{{#modal-dialog close="closeEditModal" alignment="left" translucentOverlay=true container-class="project-intro"}}
		<div class="container-fluid">
            <!-- <div class="row"> -->
				<!-- <p>a = {{this.a}}</p>
				<p>av = {{this.av}}</p>
				<p>v = {{this.v}}</p> -->
                {{#if project.template_id}}
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-success edit-intro-success save-success">
							    Introduction saved!
							</div>
							<div class="alert alert-danger edit-intro-fail save-fail">
							    Something went worng, introduction was not saved.
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							<a {{action 'changeTemplate' project}}>Change Template</a>
						</div>
						<div class="col-md-2">
			                <a {{action 'closeEditModal'}} class="mdi-action-highlight-remove pull-right close-button"></a>
			            </div>
					</div>
					<div class="row edit-area">
						{{#if this.a}}
							<div class="col-md-12 edit-cell">
	                    		{{textarea value=project.intro id="edit-project-intro"}}
							</div>
						{{else if this.av}}
							<div class="col-md-6 edit-cell">
								{{textarea value=project.intro id="edit-project-intro"}}
							</div>
							<div class="col-md-6 edit-video-cell">
								<div class="row">
									<div class="col-md-12">
										{{input value=project.media class="form-control" id="edit-project-media" placeholder="Video link..." }}
									</div>
								</div>
								<div class="row edit-cell">
									<div class="col-md-12 video-preview">
										{{#if project.media}}
											{{lazy-video url=project.media}}
										{{else}}
											<h3>Please add video.</h3>
										{{/if}}
									</div>
								</div>
							</div>
						{{else if this.v}}

						<div class="col-md-12 edit-video-cell">
							<div class="row">
								<div class="col-md-12">
									{{input value=project.media class="form-control" id="edit-project-media" placeholder="Video link..." }}
								</div>
							</div>
							<div class="row edit-cell">
								<div class="col-md-12 video-preview">
									{{#if project.media}}
										{{lazy-video url=project.media}}
									{{else}}
										<h3>Please add video.</h3>
									{{/if}}
								</div>
							</div>
						</div>
						{{/if}}
					</div>
					<div class="row action-buttons">
						<div class="col-md-12 text-right">
							<a class="btn btn-success btn-flat btn-xs" {{action 'updateIntro' project=project}}>Save</a>
							<a class="btn btn-warning btn-flat btn-xs" {{action 'cancelIntroUpdate' project=project}}>Cancel</a>
						</div>
					</div>
                {{else}}
					<div class="row">
						<h1>Select the layout for your intorduction.</h1>
	                    <div class="col-md-4">
	                        <a {{action 'setTemplate' 'av'}} title="Select Article and Video" class="btn btn-default select-template select-av"></a>
	                    </div>
	                    <div class="col-md-4">
	                        <a {{action 'setTemplate' 'a'}} title="Select Article Only" class="btn btn-default select-template select-a"></a>
	                    </div>
	                    <div class="col-md-4">
	                        <a {{action 'setTemplate' 'v'}} title="Video Only" class="btn btn-default select-template select-v"></a>
	                    </div>
					</div>
                {{/if}}
            <!-- </div> -->
        </div>
    {{/modal-dialog}}
{{/if}}
