<nav class="navbar navbar-inverse" id="filter_and_search">
<a {{action 'close'}}><span class="mdi-action-highlight-remove pull-right"></span></a>

  <ul class="nav navbar-nav">
    
<!--    <li class="clear"><a {{action 'sortTags' 'all'}}>All</a></li>
    
     <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tags <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        {{#each tag in tags}}
        <li><a {{ action 'sortTags' tag.slug }}>{{tag.name}}</a></li>
        {{/each}}
      </ul>
    </li>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Type <span class="caret"></span></a>
      <ul class="dropdown-menu tags-dropdown" role="menu">
        <li><a {{ action 'sortTags' 'geojson'}}>GeoJSON</a></li>
        <li><a {{ action 'sortTags' 'planningatlanta'}}>GSU Tiles</a></li>
        <li><a {{ action 'sortTags' 'wms'}}>WMS</a></li>
        <li><a {{ action 'sortTags' 'wfs'}}>WFS</a></li>
      </ul>
    </li>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Provider <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        {{#each institution in institutions}}
        <li><a {{ action 'sortTags' institution.slug }}>{{institution.name}}</a></li>
        {{/each}}
      </ul>
    </li> -->
    
    <li class="search-field">
      <form class="navbar-form navbar-left" role="search">
        {{input type="text" class="search form-control layer-search" placeholder="Search" value=searchTerm}}
      </form>
    </li>
    
  </ul>          
</nav>