{{#if hasBlock}}
  {{#if editing}}
    {{yield}}
      <button onclick={{action (pipe (route-action 'updateProject' model) (toggle 'editing' this))}}>Save</button>
      <button onclick={{action 'abort'}} class='secondary-action'>Cancel</button>
  {{else}}
    {{value}}
  {{/if}}
  {{!-- Coming from table cells --}}
{{else}}
  {{#if editing}}{{input value=value enter=(pipe (route-action 'update' value) (toggle 'editing' this))}}{{else}}{{value}}{{/if}}
{{/if}}
