    {{yield}}

{{#if showSlider}}
<div class='slider-container'>
  {{#if layer.leaflet_object}}
    {{opacity-slider layer=layer}}
  {{/if}}
</div>
{{/if}}

<div class='layer-item-body card-content {{if layer.active_in_list 'active'}}'>
  <p class='black-text'>
    {{if layer.description layer.description 'No description :('}}
  </p>
  {{layer-citation layer=layer}}
</div>
