{{yield}}
<div class='layer-list-item-detail'>
  <div class='layer-list-item-content' id='{{layer.slug}}-content'>
    <article class='black-text'>
      {{if layer.description layer.safe_description 'No description :('}}
    </article>
    {{#if layer.filters}}
      <section class='color-key'>
        {{#each-in layer.filters as |key value|}}
          <ul>
            <li>{{key}}:</li>
            {{#each value as |v index|}}
              <li><span class='color-key-{{index}}'></span>{{v}}</li>
            {{/each}}
          </ul>
        {{/each-in}}
      </section>
    {{/if}}
    <section class='layer-list-item-provider'>
      Layer Provided by: {{layer.institution.name}}
    </section>
  </div>
  <div class='layer-list-item-footer'>
    <section class='layer-list-item-actions'>
      {{shareable-link layer=layer}}
        {{#if project.may_edit}}
          {{remove-layer-button model=model layer=layer tagName='button' class='flat'}}
        {{/if}}
    </section>
  </div>
</div>
