    {{yield}}

{{#if showSlider}}
<div class='slider-container'>
  {{#if layer.leaflet_object}}
    {{opacity-slider layer=layer}}
  {{/if}}
</div>
{{/if}}

<div class='layer-item-body card-content' id='{{layer.slug}}-content'>
  <article class='black-text'>
    {{if layer.description layer.safe_description 'No description :('}}
  </article>
  {{layer-citation layer=layer}}
</div>
