    {{yield}}

{{#if showSlider}}
<div class='slider-container'>
  {{#if layer.leaflet_object}}
    {{opacity-slider layer=layer}}
  {{/if}}
</div>
{{/if}}

<div class='layer-item-body card-content' id='{{layer.slug}}-content'>
  <article class='black-text'>
    {{if layer.description layer.safe_description 'No description :('}}
  </article>
  <footer class='citation-footer'>
      <div class='provider-name'>
  	     <h6 class='cite-h6'>Provided by:</h6>
  	     <h5 class='citeh5'>{{layer.institution.name}}</h5>
       </div>
       <div class='provider-logo'>
         <img src='{{layer.institution.icon}}' alt='Logo' class="institution-logo right" />
       </div>
   </footer>

</div>
