{{#if projects.isPending}}
    <div class="modal-loading">
        <img src="/assets/images/loaders/Preloader_19.gif" alt="LOADING"/>
    </div>
{{/if}}
{{#each projects key="@index" as |project|}}
    <div class="list-group-item col-md-6 project-group-item min-height-class" data-project-id="{{project.id}}">
        <div class="row-action-primary project-list-icon">
            <i class="material-icons">map</i>
        </div>
        <div class="row-content">
            <div class="action-secondary">

            <i class="mdi-material-info"></i></div>
            {{#if project.is_mine}}
            	{{#if manageable}}
	            <a class="btn show-options pull-right" {{action 'toggleOptions' project.id}}>
	                <i class="material-icons">more_vert</i>
	              </a>
	              <div class="project-options card">
	                <a class="action project-delete" {{action 'deleteProject' project.id}}>
	                  <span class="mdi-action-delete action-icon"><i class="material-icons" title="Featured Project">delete</i></span><span class="action-label">Delete</span>
	                </a>
	              </div>
	              {{/if}}
              {{/if}}
              <div class="pull-left">
            <h4 class="list-group-item-heading">
                {{#link-to 'project.info' project}}
                {{project.name}} {{#if project.featured}}<i class="material-icons">beenhere</i>{{/if}}
                {{/link-to}}
            </h4>
            <p class="list-group-item-text">{{project.description}}</p>
            <h5>Created by: {{project.owner}}{{owner}}</h5>
        </div>
        </div>

    </div>
{{else}}
    <h5>{{alt}}</h5>
{{/each}}
