{{#if authenticating}}
<span class='authenticating'><i class="fa fa-circle-o-notch fa-spin"></i></span>
{{/if}}
{{#if accountCreated}}
  Your account has been created. Check your email to confirm your account.
{{else if session.isAuthenticated}}
  {{#if currentUser.user.confirmed}}
  <button {{action 'logOut' }}><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
  {{/if}}
{{else}}
    <section><h2>LOG IN</h2></section>
    {{#if signUp}}
      <form {{action 'signUpSubmit' on='submit'}}>
      <label for='email'>Email</label> {{input value=newLogin.identification placeholder='Email' type='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" name='identification'}}
      <label for='password'>Password</label>
      {{input value=newLogin.password placeholder='Choose Password' class='' type='password'}}
      <label for='confirm-password'>Confirm Password</label> {{input placeholder='Confirm Password' class='form-control' type='password' pattern=newLogin.password}}
      <button {{action 'cancel'}}type="submit" class="">Cancel</button>
      <button type="submit" class="">Sign Up</button>
      </form>
    {{else}}

      {{! Buttons should probably be a block component.}}
      <section class="providers">
      <div class="blue darken-4 white-text social-provider" {{action 'authenticateWithFacebook'}}>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div class="red white-text social-provider" {{action 'authenticateWithGoogle'}}>
      <i class="fa fa-google" aria-hidden="true"></i>
      </div>
      </section>

      <section>- or -</section>
      <section>
      <form {{action 'authenticateWithOAuth2' on='submit'}}>
      {{input value=identification placeholder='Enter Login' class='form-control'}}
      <input type={{if showingPassword 'text' 'password'}} name=password class='form-control' placeholder='Password' />
      {{!-- {{input value=password placeholder='Enter Password' class='form-control' type='password'}} --}}
      <section onclick={{action (toggle-action 'showingPassword' this)}}>
        <i class="fa {{if showingPassword 'fa-check-square-o' 'fa-square-o'}}" aria-hidden="true"></i> Show Password
      </section>
      <button type="submit" class="blue login-btn">Login</button>
      </form>
    </section>
    <section>No account? <a {{action 'startSignUp'}}>Sign up now!</a></section>
    {{/if}}
    <hr />
    <section class='fine-print'>
      Creating an account means you're okay wth Emory Center for Digitial Scholarship's <a href='http://digitalscholarship.emory.edu/about/center/privacy-policy.html' target='_blank'>Terms of Service and Privacy Policy</a>.
    </section>
    {{#if errorMessage}}
    <div class="alert alert-danger">
    <section>
    <strong>Login failed:</strong> <code>{{errorMessage}}</code>
  </section>
    </div>
  {{/if}}
{{/if}}
