{{#if session.isAuthenticated}}
  <div class='center-align row black-text'><a {{action 'logOut' }} title="Logout">Logout</a></div>
{{else}}
  {{#if login}}
    <form {{action 'authenticateWithOAuth2' on='submit'}}>
      <div class="form-group">
        <label for="identification">Login</label> {{input value=identification placeholder='Enter Login' class='form-control'}}
      </div>
      <div class="form-group">
        <label for="password">Password</label> {{input value=password placeholder='Enter Password' class='form-control' type='password'}}
      </div>
      <button {{action 'cancel'}}type="submit" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-default right blue">Login</button>
    </form>

  {{else if signUp}}
    <form {{action 'signUpSubmit' on='submit'}}>
      <div class='form-grup row'>
        <label for='username'>Username</label> {{input value=newLogin.identification placeholder='Username' class='form-control'}}
      </div>
      <div class='form-group row'>
        {{!-- <div class='col m5'> --}}
          <label for='password'>Password</label> {{input value=newLogin.password placeholder='Choose Password' class='form-control' type='password'}}
        {{!-- </div>
        <div class='col m5 offset-m2'> --}}
          <label for='confirm-password'>Confirm Password</label> {{input placeholder='Confirm Password' class='form-control' type='password' pattern=newLogin.password}}
        {{!-- </div> --}}
      </div>
      <button {{action 'cancel'}}type="submit" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-default right blue">Sign Up</button>
    </form>

  {{else}}
    <div class='center-align row black-text'>Login with</div>
    {{! Buttons should probably be a block component.}}
    <div class="blue darken-4 white-text row social-auth-btn" {{action 'authenticateWithFacebook'}}>
      <div class='col s1'>
        <i class="material-icons atlmaps-ext facebook-icon left"></i>
      </div>
      <div class='social-provider s10 center-align'>Facebook</div>
    </div>

    {{!-- <div class="blue white-text row social-auth-btn">
      <div class='col s1'>
        <i class="material-icons atlmaps-ext twitter-icon left"></i>
      </div>
      <div class='social-provider s10 center-align'>Twitter</div>
    </div> --}}

    <div class="red white-text row social-auth-btn" {{action 'authenticateWithGoogle'}}>
      <div class='col s1'>
        <i class="material-icons atlmaps-ext google-icon left"></i>
      </div>
      <div class='social-provider center-align'>Google</div>
    </div>
    <div class='center-align black-text'>OR</div>
      <a {{action 'signUp'}} class='col m5 s12 sign-btn center-align'>
        Sign Up
      </a >
      <a {{action 'login'}} class='col offset-m2 m5 s12 sign-btn center-align'>
        Login
      </a>
  {{/if}}

  {{#if errorMessage}}
    <div class="alert alert-danger">
      <p>
        <strong>Login failed:</strong> <code>{{errorMessage}}</code>
      </p>
      {{!-- <p>
        Documentation of the error codes can be found in the <a href="http://tools.ietf.org/html/rfc6749#section-5.2" title="RFC 6749 - Error Response">Error Response section of RFC 6749</a>.
      </p> --}}
    </div>
  {{/if}}
{{/if}}
