<div class="navigation-wrapper">
    {{#link-to 'index' class='logo' }}
        <img src="/assets/images/atl.png" alt="Logo Image">
    {{/link-to}}
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
            {{#link-to 'index'}}
              <li class='nav-link title'>
                <span style='font-weight:900'>ATL</span>Maps
              </li>
            {{/link-to}}
              <li class='nav-link project-title'>
                  {{#link-to 'projects'}}Projects{{/link-to}}
              </li>
              <li class='nav-link project-title'>
                  {{#link-to 'explore'}}Explore{{/link-to}}
              </li>
              <li class='nav-link'>
                  {{#link-to 'about'}}About{{/link-to}}
              </li>
        </ul>
    </nav>
    <div class="navigation-tools">
        {{#if session.isAuthenticated}}
        {{#basic-dropdown as |dd|}}
          {{#dd.trigger class="trigger-bootstrap-feel"}}<i class="fa fa-user" aria-hidden="true"></i> Account{{/dd.trigger}}

          {{#dd.content class="content-bootstrap-feel z-depth-3"}}
          <ul class="account-fa-ul fa-ul title-bar-action">
            <li onclick={{action 'invalidateSession'}}>
              <i class='fa-li fa fa-sign-out' aria-hidden='true'></i> Logout
            </li>
            <li>{{#ember-inline-edit
              value=currentUser.user.displayname
              onSave=(action 'updateDisplayName' currentUser.user)
              onCancel=(action 'cancelUpdate' currentUser.user)
              as |inline-edit|}}
              {{#inline-edit.editable}}
                <span><i>{{currentUser.user.displayname}}</i> <i class="fa-li fa fa-pencil-square" aria-hidden="true"></i></span>
              {{/inline-edit.editable}}

              {{#inline-edit.editor}}
                {{input value=currentUser.user.displayname}}
              {{/inline-edit.editor}}
            {{/ember-inline-edit}}
            </li>
          </ul>
          {{/dd.content}}
        {{/basic-dropdown}}
        {{else}}
        {{#login-link}}<i class="fa fa-sign-in" aria-hidden="true"></i> Log in{{/login-link}}
        {{/if}}
    </div>
</div>
{{#if (or model.project.may_edit model.project.exploring)}}
<div class='search-head {{if model.project.showingSearch 'showing-search-head' 'collapse-head'}}'>
    <div class='search-head-title' onclick={{action (toggle-action 'showingSearch' model.project)}}>
        <i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i> Find Layers
    </div>
</div>
{{!-- empty div is the wormhole --}}
{{/if}}
<div id='results' class='search-pane {{if model.project.showingSearch 'showing-search' 'collapse-pane'}}' />
