<div class="navigation-wrapper">
    {{#link-to 'index' class='logo' }}
        <img src="/assets/images/atl.png" alt="Logo Image">
    {{/link-to}}
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
            {{#link-to 'index'}}
              <li class='nav-link title'>
                <span style='font-weight:900'>ATL</span>Maps
              </li>
            {{/link-to}}
              <li class='nav-link project-title'>
                  {{#link-to 'projects'}}Projects{{/link-to}}
              </li>
              <li class='nav-link project-title'>
                  {{#link-to 'explore'}}Explore{{/link-to}}
              </li>
              <li class='nav-link'>
                  {{#link-to 'about'}}About{{/link-to}}
              </li>
        </ul>
    </nav>
    <div class="navigation-tools">
        {{!-- <a href='javascript:void(0)' class='title-bar-action register-click {{if model.project.may_edit "tite-bar-action-project"}}' id='user-menu-link'>
            <i class="fa fa-cog toggle-user-menu {{if showUserMenu 'showing-user-menu'}}" aria-hidden="true"></i>
        </a> --}}
        {{!-- {{#unless model.project}} --}}

        {{!-- {{/unless}} --}}
        {{!user-menu showUserMenu=showUserMenu model=model}}

        {{!-- {{#if (or model.project.may_edit (is-equal model.project.name 'Explore'))}}
            <button class="search-btn btn waves-effect waves-light" type="submit" {{action (toggle-action 'showingSearch' model.project)}}>
              <i class="fa fa-search" aria-hidden="true"></i> Find Layers
            </button>
        {{/if}} --}}
        {{#if session.isAuthenticated}}
        {{#basic-dropdown as |dd|}}
          {{#dd.trigger class="trigger-bootstrap-feel"}}<i class="fa fa-user" aria-hidden="true"></i> Account{{/dd.trigger}}

          {{#dd.content class="content-bootstrap-feel z-depth-3"}}
          <ul class="account-fa-ul fa-ul title-bar-action">
            <li onclick={{action 'invalidateSession'}}>
              <i class='fa-li fa fa-sign-out' aria-hidden='true'></i> Logout
            </li>
            <li>{{#ember-inline-edit
              value=currentUser.user.displayname
              onSave=(action 'updateDisplayName' currentUser.user)
              onCancel=(action 'cancelUpdate' currentUser.user)
              as |inline-edit|}}
              {{#inline-edit.editable}}
                <span><i>{{currentUser.user.displayname}}</i> <i class="fa-li fa fa-pencil-square" aria-hidden="true"></i></span>
              {{/inline-edit.editable}}

              {{#inline-edit.editor}}
                {{input value=currentUser.user.displayname}}
              {{/inline-edit.editor}}
            {{/ember-inline-edit}}
            </li>
          </ul>
          {{/dd.content}}
        {{/basic-dropdown}}
        {{!-- <a onclick={{action 'invalidateSession'}} class='title-bar-action'>
          <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a> --}}
        {{else}}
        {{#link-to 'login' class='title-bar-action'}}<i class="fa fa-sign-in" aria-hidden="true"></i> Login{{/link-to}}
        {{/if}}
    </div>
</div>
{{#if model.project.may_edit}}
<div class='search-head {{if model.project.showingSearch 'showing-search-head' 'collapse-head'}}'>
    <div class='search-head-title' onclick={{action (toggle-action 'showingSearch' model.project)}}>
        <i class="fa fa-chevron-left" aria-hidden="true"></i><i class="fa fa-chevron-left" aria-hidden="true"></i> Find Layers
    </div>
    {{!-- <div class='search-close-button'>
        <a {{action (toggle-action 'showingSearch' model.project)}} class="">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </a>
    </div> --}}
</div>
{{!-- empty div is the wormhole --}}
{{/if}}
<div id='results' class='search-pane {{if model.project.showingSearch 'showing-search' 'collapse-pane'}}' />
