<input class="value-input {{layer.raster_layer_id.slug}}" id="{{layer.raster_layer_id.slider_value_id}}" />

<div class="slider {{layer.raster_layer_id.slug}} slider-material-orange-300" id="{{layer.raster_layer_id.slider_id}}" name="{{layer.raster_layer_id.slug}}"></div>
