<input class="value-input {{layer.slug}}" id="{{layer.slider_value_id}}" />
<h6>Opacity</h6>
<div class="slider {{layer.slug}} slider-material-orange-300" id="{{layer.slider_id}}" name="{{layer.slug}}"></div>
