{{yield}}
<nav class="row row-centered">
    <div class='col-sm-2 col-sm-offset-3 text-center pagination-centered'>
        <button {{action (route-action 'getResults' meta.prev_page)}} class='btn btn-raised btn-info' style="pointer-events:all;"><i class="material-icons">chevron_left</i> Previous</button>
    </div>
    <div class='col-sm-2 text-right'>
        {{meta.current_page}} of {{meta.total_pages}}
    </div>
    <div class='col-sm-2 text-center pagination-centered'>
        <button {{action (route-action 'getResults' meta.next_page)}} class='btn btn-raised btn-info' style="pointer-events:all;"><i class="material-icons">chevron_right</i> Next</button>
    </div>
    <div class='col-sm-3'>
        Show
        <select>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
    </div>
</nav>
