<ul class="pagination center-align">
  {{#if meta.prev_page}}
  <li class="waves-effect"><a {{action (route-action 'getResults' 1)}}>1</a></li>
  <li class='disabled'>...</li>
  <li class="waves-effect"><a {{action (route-action 'getResults' meta.prev_page)}}>{{meta.prev_page}}</a></li>
  {{else}}
    <li class='disabled'>--</li>
  {{/if}}
    <li class="waves-effect active">{{meta.current_page}}</li>
  {{#if meta.next_page}}
    <li class="waves-effect"><a {{action (route-action 'getResults' meta.next_page)}}>{{meta.next_page}}</a></li>
    <li class='disabled'>...</li>
    <li class="waves-effect"><a {{action (route-action 'getResults' meta.total_pages)}}>{{meta.total_pages}}</a></li>
  {{else}}
    <li class='disabled'>--</li>
  {{/if}}
  </ul>
