{{yield}}
<div class='row'>
<div class="col m2 l3">
  ..
      {{!-- {{#power-select
        selected=limit
        options=limits
        onchange=(action "updateLimt" getResults='getResults')
        as |limit|
      }}
        {{limit.label}}
      {{/power-select}} --}}
    </div>
    <div class='text-center pagination-centered col m8 l6'>
      {{#if meta.prev_page}}
        <button {{action (route-action 'getResults' meta.prev_page)}} class='btn btn-raised btn-info'>{{meta.prev_page}}</button>
      {{else}}
        <button class='btn btn-raised btn-primary' disabled='disabled'>--</button>
      {{/if}}
        <button {{action (route-action 'getResults' meta.current_page)}} class='btn btn-raised btn-warning'>{{meta.current_page}}</button>
      {{#if meta.next_page}}
        <button {{action (route-action 'getResults' meta.next_page)}} class='btn btn-raised btn-info'>{{meta.next_page}}</button>
      {{else}}
        <button class='btn btn-raised btn-primary s-hide' disabled='disabled'>--</button>
      {{/if}}
      <i class="material-icons">more_horiz</i>
      <button {{action (route-action 'getResults' meta.next_page)}} class='btn btn-raised btn-info'>{{meta.total_pages}}</button>
    </div>
</div>
