<div class="pane-title">
    <div class='project-pane-title'>
      {{#ember-inline-edit
        value=model.name
        onSave=(route-action 'updateProject' model 'Title Updated!')
        onClose=(route-action 'cancleUpdate' model)
        as |inline-edit|}}
        {{#inline-edit.editable}}
          <h3>{{model.name}}</h3>
        {{/inline-edit.editable}}

        {{#inline-edit.editor}}
          {{input value=model.name}}
        {{/inline-edit.editor}}
      {{/ember-inline-edit}}
    </div>
    {{#if raster}}
        {{show-hide-layers toggleAll=true layers=model.raster_layers checked=model.visiable_raster class='switch'}}
    {{else if vector}}
        {{show-hide-layers toggleAll=true layers=model.vector_layers checked=model.visiable_vector class='switch'}}
    {{else}}
        <div class="one-col" />
    {{/if}}
</div>

<div class="pane-container">
    <div class="pane-content {{extraClass}}">
        {{yield}}
    </div>
</div>
