<li class='hide-nav-button'>
  <a {{action "toggleNav"}}>
    <i class="material-icons">expand_more</i>
    <label>{{if hideNav 'MENU' 'HIDE'}}</label>
  </a>
</li>

{{#each links as |link|}}
  {{!-- A workaround to get the "active" class
  to apply to the active <li> automatically --}}
  {{#link-to link.route tagName='li'}}
    <i class="material-icons {{link.iconClass}}">{{link.icon}}</i>
    {{link-to link.label link.route tagName='label'}}
  {{/link-to}}
{{/each}}
