<div class="project-pane-header">
  <div class='project-pane-title'>
    <h3>{{model.name}}</h3>
  </div>

  <div class='project-pane-action'>
    {{#if (and session.isAuthenticated (or model.may_edit model.exploring))}}
      <span class='{{if model.hasDirtyAttributes "dirty"}}' onclick={{route-action "updateProject" model}}>SAVE</span>
    {{else if model.exploring}}
        {{#login-link class='faint-link'}}Log to save{{/login-link}}
    {{/if}}
  </div>

{{!-- {{#if (or raster vector)}} --}}
  <div class='project-pane-title project-pane-subtitle'>
    {{title}}
  </div>
  <div class='project-pane-action'>
    {{#if raster}}
      {{show-hide-layers toggleAll=true layers=model.raster_layers checked=model.visiable_raster class='switch'}}
    {{else if vector}}
      {{show-hide-layers toggleAll=true layers=model.vector_layers checked=model.visiable_vector class='switch'}}
    {{/if}}
  </div>
{{!-- {{/if}} --}}
</div>
<div class='fixer'>
</div>
<div class="pane-container">
    <div class="pane-content {{extraClass}}">
        {{yield}}
    </div>
</div>
