<li class='hide-nav-button'>
  <a {{action "toggleNav"}}>
    <i class="material-icons">expand_more</i>
    <label>{{if hideNav 'SHOW' 'HIDE'}}</label>
  </a>
</li>

{{#link-to 'project.info' tagName='li'}}
  <i class="material-icons">info_outline</i>
  {{link-to 'Info' 'project.info' tagName='label'}}
{{/link-to}}

{{#link-to 'project.browse-layers' tagName='li'}}
  <i class="material-icons">search</i>
  {{link-to 'Find' 'project.browse-layers' tagName='label'}}
{{/link-to}}

{{#link-to 'project.raster-layers' tagName='li'}}
  <i class="material-icons">layers</i>
  {{link-to 'Maps' 'project.raster-layers' tagName='label'}}
{{/link-to}}

{{#link-to 'project.vector-layers' tagName='li'}}
  <i class="material-icons atlmaps-ext database"></i>
  {{link-to 'Data' 'project.vector-layers' tagName='label'}}
{{/link-to}}

{{#link-to 'project.base-layers' tagName='li'}}
  <i class="material-icons">map</i>
  {{link-to 'Base' 'project.base-layers' tagName='label'}}
{{/link-to}}
