{{#if project.photo}}
  <div class="card-image">
    <img src= {{project.photo}} alt='Image for {{project.name}}'>
  </div>
{{/if}}
<div class="card-header">
  <div class='project-card-title-link'>
  {{#link-to 'project' project.id}}
    <h1>{{project.name}}</h1>
  {{/link-to}}
</div>
  {{#if mine}}
      <div class='project-card-action-link' onclick={{action 'toggleActionMenu'}}>
          <i class="fa fa-pull-right fa-ellipsis-v" aria-hidden="true"></i>
          {{#if isShowingModal}}
            {{#tether-dialog close='toggleActionMenu' container-class='project-action-menu' hasOverlay=false target='' clickOutsideToClose=true }}
              <a {{action 'toggleActionMenu'}} class='close-button right'>
                <i class="material-icons">highlight_off</i>
              </a>
              <hr />
              <ul class='project-actions-list'>
                <li onclick={{action (route-action 'deleteProject' project.id)}}>
                  <i class="fa fa-fw fa-trash" aria-hidden="true"></i>Delete
                </li>
              </ul>
            {{/tether-dialog}}
          {{/if}}
      </div>

  {{/if}}
</div>
<div class="card-copy">
  <p>{{project.description}}</p>
</div>
