<li class='hide-nav-button'>
  <a {{action "toggleNav"}}>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
    <label>{{if hideNav 'MENU' 'HIDE'}}</label>
  </a>
</li>

{{#link-to 'project.info' tagName='li'}}
  <i class="fa fa-info" aria-hidden="true"></i>
  {{link-to 'Info' 'project.info' tagName='label'}}
{{/link-to}}

{{#if model.hasRasters}}
{{#link-to 'project.raster-layers' tagName='li' class=(if raster-updated 'raster-updated')}}
  <i class="fa fa-map" aria-hidden="true"></i>
  {{link-to 'Maps' 'project.raster-layers' tagName='label'}}
{{/link-to}}
{{/if}}

{{#if model.hasVectors}}
{{#link-to 'project.vector-layers' tagName='li' class=(if vector-updated 'vector-updated')}}
  <i class="fa fa-database" aria-hidden="true"></i>
  {{link-to 'Data' 'project.vector-layers' tagName='label'}}
{{/link-to}}
{{/if}}

{{#link-to 'project.base-layers' tagName='li'}}
  <i class="fa fa-globe" aria-hidden="true"></i>
  {{link-to 'Base' 'project.base-layers' tagName='label'}}
{{/link-to}}
