<div class="pane-title">
  <div class='project-pane-title'>
    <h3>{{title}}</h3>
  </div>
    {{#if raster}}
    {{show-hide-layers layers=model.raster_layer_ids checked=model.visiable_raster}}
    {{/if}}
    {{#if vector}}
      {{show-hide-layers layers=model.vector_layer_ids checked=model.visiable_vector}}
    {{/if}}
  <div class="">
    {{#if project}}
    {{#link-to 'project'}}
      <i class="material-icons close-button">highlight_off</i>
    {{/link-to}}
    {{/if}}
  </div>
</div>
{{#unless isShowingModal}}
<div class='feedback white-text {{if flashMessage.success 'flash-success' 'flash-error'}} {{if flashMessage.show 'show-flash'}}'>{{flashMessage.message}}</div>
{{/unless}}
<div class="pane-container">
    <div class="pane-content {{extraClass}}">
      {{yield}}
    </div>
  </div>
