{{#if this.edit}}

	<div class="btn-group btn-group-justified">

		<a {{action 'navigateProject' 'project-info-edit'}} class="btn btn-default active-button project-nav" id="project-info-edit" title="Edit Project Description">
			<span class="nav-icon"><i class="material-icons">info_outline</i></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data-edit'}} class="btn btn-default transparent-button project-nav" id='vector-data-edit' title="Manage Pinpoint Layers">
	    	<span class="nav-icon atlmaps-ext data-icon"></span><span class="badge vector-badge">{{this.vectorCount}}</span>
	    </a>
	    <a {{action 'navigateProject' 'raster-layers-edit'}} class="btn btn-default transparent-button project-nav" id="raster-layers-edit" title="Manage Archival Map Layers">
	    	<span class="nav-icon"></span><i class="material-icons">layers</i><span class="badge">{{this.rasterCount}}</span>
	    </a>
	    <a {{action 'navigateProject' 'controls-edit'}} class="btn btn-default transparent-button project-nav" id="controls-edit" title="Change Base Map">
	    	<span class="nav-icon"><i class="material-icons">tune</i></span>
	    </a>
	    {{#if model.is_mine}}
	    	<a {{action 'navigateProject' 'collaborations-edit'}} class="btn btn-default transparent-button project-nav" id="collaborations-edit" title="Manage Collaborations">
	    		<span class="nav-icon"><i class="material-icons">group</i></span>
	    	</a>
	    {{/if}}
	    <a {{action 'navigateProject' 'help-edit'}} class="btn btn-default transparent-button project-nav" id="help" title="Show Help Window">
	    	<span class="nav-icon"><i class="material-icons">help_outline</i></span>
	    </a>

	</div>

{{/if}}

{{#if this.projview}}
	<div class="btn-group btn-group-justified">

		<a {{action 'navigateProject' 'project-info'}} class="btn btn-default active-button project-nav" id="project-info" title="Project Description">
			<span class="nav-icon"><i class="material-icons">info_outline</i></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data'}} class="btn btn-default transparent-button project-nav" id='vector-data' title="Pinpoint Layers">
	    	<span class="atlmaps-ext atlmaps-ext data-icon nav-icon"></span><span class="badge vector-badge">{{this.vectorCount}}</span>
	    </a>
	    <a {{action 'navigateProject' 'raster-layers'}} class="btn btn-default transparent-button project-nav" id="raster-layers" title="Archival Map Layers">
	    	<span class="nav-icon"></span><i class="material-icons">layers</i><span class="badge">{{this.rasterCount}}</span>
	    </a>
	    <a {{action 'navigateProject' 'controls'}} class="btn btn-default transparent-button project-nav" id="controls" title="Change Base Map">
	    	<span class="nav-icon"><i class="material-icons">tune</i></span>
	    </a>
	    <!-- <a {{action 'navigateProject' 'help'}} class="btn btn-default transparent-button project-nav" id="help" title="Show Help Window">
	    	<span class="nav-icon"><i class="material-icons">help_outline</i></span>
	    </a> -->
	</div>

{{/if}}

{{#if this.explore}}

	<div class="btn-group btn-group-justified">

		<a {{action 'navigateProject' 'project-info'}} class="btn btn-default active-button project-nav" id="project-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom">
			<span class="nav-icon"><i class="material-icons">info_outline</i></span>
		</a>
		<a {{action 'navigateProject' 'browse'}} class="btn btn-default transparent-button project-nav" id="browse" title="Browse">
			<span class="nav-icon"><i class="material-icons">search</i></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data'}} class="btn btn-default transparent-button project-nav" id='vector-data' title="Pinpoint Layers">
	    	<span class="atlmaps-ext data-icon nav-icon"><span class="badge vector-badge">{{this.vectorCount}}</span></span>
	    </a>
			<!-- <a {{action 'navigateProject' 'raster-layers'}} class="btn btn-default transparent-button project-nav" id="raster-layers" title="Archival Maps">
	    	<span class="nav-icon"></span><i class="material-icons">hot_tub</i><span class="badge">{{this.vectorCount}}</span>
	    </a> -->
	    <a {{action 'navigateProject' 'raster-layers'}} class="btn btn-default transparent-button project-nav" id="raster-layers" title="Archival Maps">
	    	<span class="nav-icon"></span><i class="material-icons">layers</i><span class="badge">{{this.rasterCount}}</span>
	    </a>
	    <a {{action 'navigateProject' 'controls'}} class="btn btn-default transparent-button project-nav" id="controls" title="Select Base Layer">
	    	<span class="nav-icon"><i class="material-icons">map</i></span>
	    </a>
	    <!-- <a {{action 'navigateProject' 'help'}} class="btn btn-default transparent-button project-nav" id="help" title="Show Help Window">
	    	<span class="nav-icon"><i class="material-icons">help_outline</i></span>
	    </a> -->
	</div>

{{/if}}

{{#if this.browse}}
	<div class="btn-group btn-group-justified results-nav">

		{{! The first parmater to the action is the one that will be shown, the second one will be hidden}}
		<a {{action 'showResults' 'vector' 'raster'}} class="btn btn-default transparent-button project-nav vector-result-tab browse-nav-button" id='vector-data' title="Pinpoint Layers">
			<span class="atlmaps-ext data-icon nav-icon"></span><span class="badge vector-badge">{{#if this.vectorCount}}{{this.vectorCount}}{{else}}0{{/if}}</span>
		</a>
		<a {{action 'showResults' 'raster' 'vector' }} class="btn btn-default transparent-button project-nav raster-result-tab browse-nav-button" id="raster-layers" title="Archival Maps">
			<i class="material-icons">layers</i><span class="badge raster-badge">{{#if this.rasterCount}}{{this.rasterCount}}{{else}}0{{/if}}</span>
		</a>
	</div>
{{/if}}

{{#if this.browse-filters}}
	<div class="btn-group-vertical browse-options">
		<a {{action 'toggleFilter' 'tags'}} class="btn btn-default tags active">Tags</a>
		<a {{action 'toggleFilter' 'institution'}} class="btn institution btn-default">Institution</a>
		<a {{action 'toggleFilter' 'years'}} class="btn years btn-default">Years</a>
	</div>
{{/if}}
