<a {{action 'toggleIntro'}} class='close-button pull-right'>
    <i class="material-icons">highlight_off</i>
</a>

<div class='z-depth-3'>
  <div class='modal-content'>
  <header>
    {{#if project.media}}
      <div class="video-container">
        <iframe width="853" height="480" src="{{project.media}}" frameborder="0" allowfullscreen></iframe>
      </div>
    {{/if}}
  </header>
<article>
      <h4>{{project.name}}</h4>
      <h5>{{project.owner}}</h5>
    {{{project.intro}}}
  </article></div>
  <footer class='modal-fixed-footer'>
    <div class='row'>
      <div class='col s4 offset-s4 center-align'>
        <button class="btn waves-effect waves-light btn-pramary" type="submit" {{action 'toggleIntro'}}>
          Explore Project
        </button>
      </div>
      <div class='col s4'>
        <input type="checkbox"
            class="filled-in"
            id="supress"
            name="supressIntro"
            checked={{project.hasSuppressCookie}}
            onchange={{action "supressIntro" project=project}}
        />
        <label class="right" for='supress'>
          <span class="check"></span> Don't show every time.
        </label>
      </div>
    </div>
  </footer>
</div>
