{{#if model.project.media}}
    <div class='intro-video-container {{if videoOnly 'video-container'}}'>
      <iframe width="60%" height="280" src="{{model.project.media}}" frameborder="0" allowfullscreen align='center'></iframe>
    </div>
{{/if}}
<header class='intro-modal-header'>
</header>

<div class='modal-container {{if editing "editing"}}'>
  <div class='pane-content {{if withMedia 'with-media'}}'>
    <article>

      {{#if editing}}
        <h3>Project Introduction</h3>
        <hr />
        <span>
          {{md-input value=model.project.media label='Video'}}
          {{md-input value=model.project.photo label='Photo'}}

          <label>Project Introduction</label>
          <textarea id='edit-project-intro' value=model.project.intro  onchange={{action (mut model.project.intro) value="target.value"}}>{{model.project.intro}}</textarea>
          <button class='waves-effect waves-light {{if model.hasDirtyAttributes "dirty"}}' onclick={{route-action "updateProject" model.project}}>
            SAVE
          </button>
          <button class="waves-effect waves-light flat" type="submit" {{action (toggle-action 'suppressIntro' model.project)}}>
            close
          </button>
        </span>
      {{else}}

      {{! NOT EDITING}}

        {{#if model.project.new_project}}
          <h2>Welcome to your new ATLMaps project!</h2>
          <p>Any user can search for and stack layers through the explore function. Creating an account will allow you to save layers as a project for a class, presentation, or research.</p>
          <p>You will be able to access your projects online whenever you are logged in. If you would like to share your project publicly, submit it for approval.</p>
          <p>Currently, only the ATLmaps team can add layers, but if you have ideas for a layer, let us know.</p>
        {{else}}
          <h4>{{model.project.name}}</h4>
          {{{model.project.intro}}}
        {{/if}}
      {{/if}}
    </article>
  </div>
</div>
{{#unless editing}}
  <div class='intro-modal-footer'>
    <button class="btn waves-effect waves-light btn-pramary" type="submit" {{action (route-action 'toggleIntro')}}>
          Explore Project
        </button>
    <span onclick={{action "suppressIntro" project=model.project}}><i class="fa {{if model.project.hasSuppressCookie "fa-check-square-o" "fa-square-o"}}" aria-hidden="true"></i> Don't show every time.</span>
  </div>
{{/unless}}
