{{#if this.vector}}
    {{#each this.layers as |layer|}}
        <div class="list-group-item {{layer.slug}} vector-layer" id="{{layer.slug}}"  layer-id="{{layer.id}}">
            {{project-vector-icon layer=layer projectID=projectID}}
            <a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.title}}</a>
            <div class="layer-info-detail {{layer.slug}}">
                <div class="row">
                    <div class="col-md-12">
                        <article class="list-group-item-text">{{layer.description}}</article>
                    </div>
                </div>
                {{partial 'citation'}}
                {{#if this.edit}}
                    <div class="edit-footer row">
                        <div class="col-md-12">
                            <div class="text-right btn-group pull-right">
                                <a class="btn btn-warning btn-flat btn-xs" {{action 'removeVectorLayer' layer this.model}}>
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    {{else}}
        No data layers have been added.
    {{/each}}
{{/if}}
