<div class="pane-title">
  {{#if model}}
      {{close-button model=model class='project-pane-close-button'}}
  {{/if}}
    <div class='project-pane-title'>
      {{#ember-inline-edit
        value=model.name
        onSave=(route-action 'updateProject' model 'Title Updated!')
        onClose=(route-action 'cancleUpdate' model)
        as |inline-edit|}}
        {{#inline-edit.editable}}
          <h3>{{model.name}}</h3>
        {{/inline-edit.editable}}

        {{#inline-edit.editor}}
          {{input value=model.name}}
        {{/inline-edit.editor}}
      {{/ember-inline-edit}}
    </div>
    {{#if raster}}
        {{show-hide-layers class='one-col' layers=model.raster_layer_ids checked=model.visiable_raster}}
    {{else if vector}}
        {{show-hide-layers class='one-col' ayers=model.vector_layer_ids checked=model.visiable_vector}}
    {{else}}
        <div class="one-col" />
    {{/if}}
</div>

<div class="pane-container">
    <div class="pane-content {{extraClass}}">
        {{yield}}
    </div>
</div>
