<div class="intro-body">
    <header>
        <div class="row">
            <div class="col-md-8">
                <h1>{{project.name}}</h1>
                <h2>By: {{project.owner}} {{this.av}}</h2>
            </div>
            <div class="col-md-4">
                <a {{action 'toggleIntro'}} class='close-button pull-right'>
                    <i class="material-icons">highlight_off</i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid">

        {{! Article Only }}
        <div class="{{if this.av "col-md-6" "col-md-12"}}">
            <article>
                {{{project.intro}}}
            </article>
        </div>
        <div class="{{if this.av "col-md-6" col-md-12}}">
                <div class='embed-container'>
                    <iframe src="https://www.youtube.com/embed/1m2cQjNhyaY" frameborder='0' allowfullscreen>
                    </iframe>
                </div>
        </div>


    </div>
    <footer>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <div class="btn btn-raised btn-info">
                    <a {{action 'toggleIntro'}}>Explore Project</a>
                </div>
            </div>
            <div class="col-md-4">
                <label class="pull-right">
                    <input type="checkbox" id="dont-show" checked= {{showIntro.noIntroCookie}} onchange= {{action "supressIntro"}} />
                    <span class="check"></span> Don't show every time.
                </label>
            </div>
        </div>
    </footer>
</div>
