<div class="pane-title">
  <div class='project-pane-title'>
    <h3>{{model.name}}</h3>
  </div>

  <div class='project-pane-save'>
    {{#if (and session.isAuthenticated model.may_edit)}}
      <span class='{{if model.hasDirtyAttributes "dirty"}}' onclick={{route-action "updateProject" model}}>SAVE</span>
    {{else}}
      {{#if model.exploring}}
        {{#login-link class='faint-link'}}Log in or sign up to save{{/login-link}}
      {{/if}}
    {{/if}}
  </div>
</div>
{{!-- {{#if model.exploring}}

<div class='pane-container'>
  <span class='pane-content'>
    {{#link-to 'login'}}Login or register to save{{/link-to}}
  </span>
</div>{{/if}} --}}
{{#if (or raster vector)}}
<div class="secondary-pane-title">
<div class='project-pane-title'>
  {{title}}
</div>
{{#if raster}}
{{show-hide-layers toggleAll=true layers=model.raster_layers checked=model.visiable_raster class='switch'}}
{{else if vector}}
{{show-hide-layers toggleAll=true layers=model.vector_layers checked=model.visiable_vector class='switch'}}
{{/if}}
</div>
{{/if}}
<div class="pane-container">
    <div class="pane-content {{extraClass}}">
        {{yield}}
    </div>
</div>
