<li class='hide-nav-button'>
  <a {{action "toggleNav"}}>
    <i class="material-icons">expand_more</i>
    <label>{{if hideNav 'MENU' 'HIDE'}}</label>
  </a>
</li>

{{!-- A workaround to get the "active" class
to apply to the active <li> automatically --}}
{{#link-to project.info tagName='li'}}
  <i class="material-icons">info</i>
  {{link-to 'Info' project.info tageName='label'}}
{{/link-to}}

{{#if model.hasRasters}}
{{#link-to project.raster-layers tagName='li'}}
  <i class="material-icons">layers</i>
  {{link-to 'Maps' project.raster-layers tageName='label'}}
{{/link-to}}
{{/if}}

{{#if model.hasVestors}}
{{#link-to project.vector-layers tagName='li'}}
  <i class="material-icons atlmaps-ext database"></i>
  {{link-to 'Data' project.vector-layers tageName='label'}}
{{/link-to}}
{{/if}}

{{#link-to project.base-layers tagName='li'}}
  <i class="material-icons">map</i>
  {{link-to 'Base' project.base-layers tageName='label'}}
{{/link-to}}
{{!-- {{#each links as |link|}}
  {{#link-to link.route tagName='li'}}
    <i class="material-icons {{link.iconClass}}">{{link.icon}}</i>
    {{link-to link.label link.route tagName='label'}}
  {{/link-to}}
{{/each}} --}}
