<div class='scroll-content'>
  {{#each layers as |layer|}}
    <div class='row result-header'>
      <div class='col s12'>
        <input type="checkbox"
          class="filled-in"
          id={{layer.slug}}
          checked={{layer.active_in_project}}
          onchange={{action (route-action "addRemoveLayer" layer)}}
        />
        <label for={{layer.slug}} class='result-title'>
          {{if layer.title layer.title "Loading..."}}
        </label>
      </div>
    </div>
    <div class='row'>
      <div class='col s11 offset-s1 result-description'>{{layer.description}}</div >
    </div>
    <hr />
  {{/each}}
</div>
{{log layers.content.meta}}
{{pagination-links meta=layers.content.meta}}
