<div class='scroll-content'>
  {{#each layers as |layer|}}
    <div class='result-container'>
      <div class='result-header'>

        <div class='result-action'>
          <a {{action (route-action 'addRemoveLayer' layer project)}}>
            <i class="material-icons {{if layer.active_in_project 'active'}}">
              {{if layer.active_in_project 'check_box' 'check_box_outline_blank'}}
            </i>
          </a>
        </div>

        <h2 class='result-title'>
          <a {{action (route-action 'addRemoveLayer' layer)}}>
            {{if layer.title layer.title "Loading..."}}
          </a>
        </h2>

      </div>

      <div class='result-description'>
        {{article-container article=layer.description}}
      </div >
    </div>
    <hr />
  {{else}}
    <h4>No layers found</h4>
    <h5>Use the filters under the search tab to find layers.</h5>
  {{/each}}
</div>
{{!I'm not sure how `this.id` is defined.}}
{{pagination-links meta=layers.meta layerType=this.id}}
