  <label  class='label-switch'>
    {{#if toggleAll}}
    <input type="checkbox" {{action 'toggleAll' layers on="change"}} checked={{checked}} id='toggle-all'>
    {{else}}    
    <input type="checkbox" {{action 'toggleOne' layer on="change"}} checked={{layer.showing}} />
    {{/if}}
    <div class="checkbox"></div>
  </label>
