{{#if currentUser.user}}
  {{#if currentUser.user.confirmed}}
    <section>
      <span  class='welcome-user'>Signed in as:</span>

      {{#ember-inline-edit
        value=currentUser.user.displayname
        onSave=(action 'updateDisplayName' currentUser.user)
        onCancel=(action 'cancelUpdate' currentUser.user)
        as |inline-edit|}}
        {{#inline-edit.editable}}
          <span><i>{{currentUser.user.displayname}}</i> <i class="fa fa-pencil-square" aria-hidden="true"></i></span>
        {{/inline-edit.editable}}

        {{#inline-edit.editor}}
          {{input value=currentUser.user.displayname}}
        {{/inline-edit.editor}}
      {{/ember-inline-edit}}
    </section>
    <hr />
    {{#if model.project.may_edit}}
      <h5>Project</h5>
      <section>
        <span class='toggle-action' onclick={{action (pipe (route-action 'updateProject' model.project 'Project published!') (toggle "published" model.project))}}>
          <i class="fa {{if model.project.published 'fa-check-square' 'fa-square-o'}}" aria-hidden="true"></i> Publish
        </span>
        <span class='toggle-action' onclick={{action (pipe (route-action 'updateProject' model.project 'Project published!') (toggle "published" model.project))}}>
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit Intro
        </span>
      </section>
      <hr />
    {{/if}}
  {{else}}
  {{confirm-email}}
  {{/if}}
{{/if}}
{{login-form}}
