{{#if currentUser.user}}
{{#if model.project.may_edit}}
  <h5>Project</h5>
  <section>
    <span class='toggle-action' onclick={{action (pipe (route-action 'updateProject' model.project 'Project published!') (toggle "published" model.project))}}>
      <i class="fa {{if model.project.published 'fa-check-square' 'fa-square-o'}}" aria-hidden="true"></i> Publish
    </span>
    <span class='toggle-action' onclick={{action (pipe (route-action 'updateProject' model.project 'Project published!') (toggle "published" model.project))}}>
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit Intro
    </span>
  </section>
  <hr />
{{/if}}

<section>
  <span  class='welcome-user'>Signed in as:</span>
  <span><i>{{currentUser.user.displayname}}</i></span>
</section>
{{/if}}
{{login-form}}
