{{yield}}
<i class="material-icons" id="options-{{layer.vector_layer_id.slug}}">more_vert</i>
{{#if isShowing}}
{{#tether-dialog
    target=(concat '#options-' layer.vector_layer_id.slug)
    close='toggleModal'
    attachment='top right'
    targetAttachment='bottom left'
    offset="-10px, -20px"
    clickOutsideToClose=true
    container-class='vector-layer-options-modal container'
}}
<div class="row">
    <div class="col-sm-12">
        <a {{action 'toggleModal'}} class="pull-right close-button"><i class="material-icons">highlight_off</i></a>
    </div>
</div>
{{color-picker layer=layer group=layer.vector_layer_id.color_group isShowing=isShowing}}
<div><hr /></div>
<div class="row">
<h5 class="delete col-sm-12"><a {{action (route-action "removeLayer" layer.vector_layer_id 'vector') }} class="delete">
    <i class="material-icons">delete_forever</i> Remove Layer
</a></h5>
</div>
{{/tether-dialog}}
{{/if}}
