<div>
  <UkButton @color="secondary" uk-toggle target={{concat "#share-modal-" @layer.name}}>
    <FaIcon @icon="share-alt" /> share
  </UkButton>
</div>
<div>
  <UkButton @color="secondary" uk-toggle target={{concat "#embed-modal-" @layer.name}}>
    <FaIcon @icon="code" /> embed
  </UkButton>
</div>

<div id={{concat "share-modal-" @layer.name}} class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h3>Layer Link</h3>
    <Input class="uk-input" @type="text" @value={{this.shareUrl}} id={{concat "share-" @layer.name}} />
    <UkButton @color="primary" {{on "click" (fn this.copyText "share")}}>copy link</UkButton>
  </div>
</div>

<div id={{concat "embed-modal-" @layer.name}} class="uk-flex-top" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h3>Layer Embed</h3>
    <label id={{concat 'embed-' @layer.id}} for={{concat 'embed-' @layer.id}}>Embed Code</label>
    <Input class="uk-input" @type="text" readonly @value={{this.embedUrl}} id={{concat "embed-" @layer.name}} />
    <hr>
    <label class="uk-form-label">Pick a base map:</label>
    <select class="uk-select" {{on 'change' this.setBase}}>
      {{#each this.bases as |base|}}
        <option value={{base}}>{{base}}</option>
      {{/each}}
    </select>
    <hr>
    {{#if @layer.geometryType}}
      <label class="uk-form-label" for={{concat 'layer-' @layer.id}}>Pick a  color:</label>
      <Input id={{concat 'layer-' @layer.id}} @type="color" @value={{this.color}} />
      <hr>
    {{/if}}
    <UkButton @color="primary" {{on "click" (fn this.copyText "embed")}}>copy embed code</UkButton>
  </div>
</div>