<section class="uk-card uk-card-default atlm-project-card">
  <section class="uk-card-media-top">
    {{!--
      We have a hard link here to force a full load of the project.
      This is really only needed to make sure the UIKit Offcanvas
      component get properly initialized. Otherwise, it would be better
      to use `<LinkTo @route="project" @model={{@project.id}}></LinkTo>`.
      Maybe future updates to UIKit will fix this.
    --}}
    <a href={{concat "/projects/" @project.id}}>
      <img src={{if @project.photo @project.photo ""}} {{on "error" this.imageError}} alt="ATLMaps placeholder" />
    </a>
    {{!-- <LinkTo @route="project" @model={{@project.id}}>
      <img src={{if @project.photo @project.photo ""}} {{on "error" this.imageError}} alt="ATLMaps placeholder" />
    </LinkTo> --}}
  </section>
  <section class="uk-card-body">
    <LinkTo @route="project" @model={{@project.id}}>
      <h3 class="uk-card-title">{{@project.name}}</h3>
    </LinkTo>
    <p>
      {{html-string @project.description}}
    </p>
  </section>
  {{#if (and @project.mine @deleteProject)}}
    <section class="uk-card-footer">
      <UkButton {{on 'click' (fn @publish @project)}} uk-tooltip={{if @project.published this.unPublishTip this.publishTip}}>{{if @project.published 'Un-publish' 'Publish'}}</UkButton>
      <ConfirmModal @onConfirm={{fn @deleteProject @project}} @message={{concat "Are you sure you want to delete " @project.name}}>Delete</ConfirmModal>
    </section>
  {{/if}}
</section>