{{#if this.deviceContext.isDesktop}}
<ul class="atlm-project-ui-project-menu" id="uk-accordion" ...attributes {{did-insert this.initUkAccordion}}>
  <li class="main-menu-toggle uk-text-center uk-text-middle uk-open">
    <div class="uk-margin-remove" uk-grid>
      <a class="uk-accordion-title uk-padding-small atlm-map-menu-button" href="#">
        <span>
          <FaIcon @icon={{if this.ukAccordionOpen "minus-circle" "plus-circle"}} />
        </span>
        {{if this.ukAccordionOpen "Hide" "Show"}}
      </a>
      <div
        class="atlm-project-title uk-text-left uk-width-expand uk-padding-small
          {{if this.ukAccordionOpen "uk-animation-slide-left-small uk-animation-fast" "uk-animation-slide-right-small uk-animation-reverse uk-hidden"}}"
      >
        <div class="uk-card-header uk-padding-remove">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-expand">
              <h1 class="uk-card-title uk-margin-remove-bottom">{{@project.name}}</h1>
                {{#if this.panelTitle}}
              <p class="uk-text-meta uk-margin-remove-top atlm-panel-title">
                  {{this.panelTitle}}
              </p>
                {{/if}}
            </div>
            <ProjectUi::ToggleSwitch @project={{@project}} />
            {{#if @project.unSaved}}
              <div
                class="uk-text-center uk-grid-collapse uk-child-width-1-1 atlm-toggle"
                tabindex="0"
                role="button"
                uk-grid
                {{on "click" (perform @save)}}
              >
                <div class="atlm-toggle-switch">
                  <FaIcon @icon="save" />
                </div>
                <div class="atlm-toggle-status">
                  Save
                </div>
              </div>
            {{else}}
              <div></div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="uk-accordion-content atlm-project-panel uk-margin-remove-top" uk-grid>
      <div class="uk-width-auto@m">
        <ul class="atlm-project-ui-project-menu-options uk-tab-left" {{did-insert this.initUkTabs}}>
          <li class="uk-text-center uk-text-middle uk-padding-small uk-padding-remove-horizontal">
            <a href="#" class="uk-child-width-1-1 atlm-map-menu-button">
              <span>
                <FaIcon @icon="info" />
              </span>
              info
            </a>
          </li>
          {{#if @project.hasRasters}}
            <li class="uk-text-center uk-text-middle uk-padding-small uk-padding-remove-horizontal atlm-raster-menu-button">
              <a class="atlm-map-menu-button" href="#">
                <span>
                  <FaIcon @icon="map" />
                </span>
                maps
              </a>
            </li>
          {{/if}}
          {{#if @project.hasPlaces}}
            <li class="uk-text-center uk-text-middle uk-padding-small uk-padding-remove-horizontal atlm-vector-menu-button">
              <a class="atlm-map-menu-button" href="#">
                <span>
                  <FaIcon @icon="map-marker-alt" />
                </span>
                places
              </a>
            </li>
          {{/if}}
          {{#if @project.hasData}}
            <li class="uk-text-center uk-text-middle uk-padding-small uk-padding-remove-horizontal atlm-vector-menu-button">
              <a class="atlm-map-menu-button" href="#">
                <span>
                  <FaIcon @icon="database" />
                </span>
                data
              </a>
            </li>
          {{/if}}
          {{#if @project.mayEdit}}
            <li class="uk-text-center uk-text-middle uk-padding-small uk-padding-remove-horizontal">
              <a class="atlm-map-menu-button" href="#">
                <span>
                  <FaIcon @icon="edit" />
                </span>
                edit
              </a>
            </li>
          {{/if}}
        </ul>
      </div>
      <div class="uk-width-expand@m uk-panel uk-panel-scrollable">
        <ul id="component-tab-left" class="uk-switcher uk-text-left">
          <li>
            <article class="uk-card-body atlm-project-description">
              <p>
                {{html-safe @project.description}}
              </p>
              <p>
                Project Created By: {{@project.owner}}
              </p>
              <p>
                Base map provided by: {{html-safe @project._defaultBaseMap.attribution}}
              </p>
            </article>
            {{#if @project.introModal}}
            <section class="uk-padding uk-padding-remove-top">
              <UkButton @color="secondary" @size="small" uk-toggle target={{concat "#modal-" @project.id}}>Show Project Introduction</UkButton>
            </section>
            {{/if}}
          </li>
          {{#if @project.hasRasters}}
            <li data-panel-title="Map Layers" data-type="panel">
              <ProjectUi::RasterPanel @project={{@project}} @remove={{@removeRaster}}/>
            </li>
          {{/if}}
          {{#if @project.hasPlaces}}
            <li data-panel-title="Data Layers" data-type="panel">
              <ProjectUi::VectorPanel @project={{@project}} @layers={{@project.places}} @remove={{@removeVector}}/>
            </li>
          {{/if}}
          {{#if @project.hasData}}
            <li data-panel-title="Data Layers" data-type="panel">
              <ProjectUi::VectorPanel @project={{@project}} @layers={{@project.data}} @remove={{@removeVector}}/>
            </li>
          {{/if}}
          {{#if @project.mayEdit}}
            <li data-panel-title="Edit" data-type="panel">
              <ProjectUi::EditPanel @project={{@project}} />
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </li>
</ul>
{{else}}
  {{!-- <section class="atlm-mobile-project-menu">
    <ul class="uk-flex-center uk-subnav atlm-mobile-project-menu-buttons" {{did-insert this.initMobilePanel}} uk-switcher>
        <li><a href="#" class="uk-text-center"><FaIcon @icon="info" /></a></li>
        <li><a href="#" class="uk-text-center"><FaIcon @icon="info" /></a></li>
        {{#if @project.hasRasters}}
          <li><a href="#" class="uk-text-center"><FaIcon @icon="map" /></a></li>
        {{/if}}
        {{#if @project.hasPlaces}}
          <li><a href="#" class="uk-text-center"><FaIcon @icon="map-marker-alt" /></a></li>
        {{/if}}
        {{#if @project.hasData}}
          <li><a href="#" class="uk-text-center"><FaIcon @icon="database" /></a></li>
        {{/if}}
    </ul>

    <ul class="uk-switcher atlm-mobile-project-panels">
      <li></li>
        <li class="atlm-mobile-project-panel">
          <section class="uk-padding-small">
            {{html-safe @project.description}}
          </section>
        </li>
        {{#if @project.hasRasters}}
        <li class="atlm-mobile-project-panel atlm-mobile-project-panel-content {{if this.hideMenuPanel 'atlm-mobile-project-panels-hidden'}}">
          <section>
            <h3>Maps</h3>
            <button type="button" class="uk-modal-close-default" uk-close {{on "click" (toggle "hideMenuPanel" this)}}></button>
          </section>
          <ul uk-accordion target="> p">
            {{#each @project.sortedRasters as |raster|}}
              <li class="uk-padding">
                <a href="#" class="uk-accordion-title">{{raster.rasterLayer.title}}</a>
                <section class="uk-padding-small">
                  <RasterOpacitySlider @raster={{raster.rasterLayer}} />
                </section>
                <p class="uk-meta uk-accordion-content">
                  {{html-safe raster.rasterLayer.description}}
                </p>
              </li>
            {{/each}}
          </ul>
        </li>
        {{/if}}
        {{#if @project.hasPlaces}}
          <li class="atlm-mobile-project-panel">
            <ul uk-accordion>
            {{#each @project.places as |place|}}
            <li class="uk-padding">
              <a href="#" class="uk-accordion-title">
                <span style={{html-safe place.style}}>
                  <FaIcon @icon={{place.vectorLayer.icon}} />
                </span>
                {{place.vectorLayer.title}}
              </a>
              <p class="uk-accordion-content">
                {{html-safe place.vectorLayer.description}}
              </p>
            </li>
            {{/each}}
          </ul>
          </li>
        {{/if}}
        {{#if @project.hasData}}
          <li class="atlm-mobile-project-panel">
          <ul uk-accordion>
            {{#each @project.data as |data|}}
            <li class="uk-padding">
              <a href="#" class="uk-accordion-title">
                <span style={{html-safe data.style}}>
                  <FaIcon @icon={{data.vectorLayer.icon}} />
                </span>
                {{data.vectorLayer.title}}
              </a>
              <p class="uk-accordion-content">
                {{data.vectorLayer.description}}
              </p>
            </li>
            {{/each}}
          </ul>
          </li>
        {{/if}}
    </ul>
  </section> --}}
  <button class="uk-button uk-button-link uk-button-default uk-padding-small atlm-mobile-project-menu-button" type="button" uk-toggle="target: #offcanvas-usage">
    <FaIcon @icon="chevron-circle-down" @rotation={{270}} />
  </button>

<UkOffcanvas @id="offcanvas-usage" class="uk-offcanvas-bar uk-background-secondary uk-light atlm-mobile-project-menu">

      <button class="uk-offcanvas-close" type="button" uk-close></button>

      <ul uk-accordion>
          <li class="uk-open">
              <a class="uk-accordion-title" href="#">{{@project.name}}</a>
              <div class="uk-accordion-content">
                {{html-safe @project.description}}
              </div>
          </li>
          {{#each @project.rasters as |raster|}}
            <li>
                <a class="uk-accordion-title" href="#"><FaIcon @icon="map" /> {{raster.rasterLayer.title}}</a>
                <div class="uk-accordion-content">
                  <div class="uk-cover-container uk-height-small">
                    <img src={{raster.rasterLayer.thumb_url}} alt="" role="presentation" />
                  </div>
                <div class="uk-margin">
                  <RasterOpacitySlider @raster={{raster.rasterLayer}} />
                </div>

                    {{html-safe raster.rasterLayer.description}}
                </div>
            </li>
          {{/each}}
          {{#each @project.vectors as |vector|}}
            <li>
                <a class="uk-accordion-title" href="#"><FaIcon @icon={{vector.vectorLayer.icon}} style={{html-safe vector.style}} /> {{vector.vectorLayer.title}}</a>
                <div class="uk-accordion-content">
                    {{html-safe vector.vectorLayer.description}}
                </div>
            </li>
          {{/each}}
      </ul>
</UkOffcanvas>
{{/if}}