<ul {{did-insert this.initUkSortable}} id="raster-sortable-list">
  {{#each @project.sortedRasters as |raster|}}
    {{#if raster.rasterLayer.onMap}}
    <li class="uk-margin-remove-left uk-padding-small atlm-layer-list-item" data-layer={{raster.id}}
      data-position={{raster.position}} uk-grid>
      <div class="uk-width-1-6 uk-cover-container">
        <img class="uk-cover" src={{raster.rasterLayer.thumb_url}} alt="" role="presentation">
      </div>
      <div class="uk-width-2-3 uk-child-width-1-1 uk-grid-collapse" uk-gird>
        <a class="uk-accordion-title" href="#">
          <div class="uk-text-lead atlm-text-lead">
            {{raster.rasterLayer.title}}
          </div>
        </a>
        <div class="uk-padding-small uk-padding-remove-horizontal">
          <label for={{concat "opacity-" raster.rasterLayer.name}}>
            Opacity
          </label>
          <Input id={{concat "opacity-" raster.rasterLayer.name}} @type="number" @min={{0}} @max={{100}} @step={{5}}
            @value={{mut raster.opacity}} />%
        </div>
        <div>
          <style>{{concat "#opacity-slider-" raster.rasterLayer.name}} { background: {{concat "linear-gradient(to right, #f47404 0%, #f47404 " raster.opacity "%, #fff " raster.opacity "%, white 100%)"}}</style>
          <Input id={{concat "opacity-slider-" raster.rasterLayer.name}} class="atlm-slider" type="range" @min={{0}} @max={{100}} @step={{5}} @value={{raster.opacity}} aria-label={{concat "opacity-slider-" raster.rasterLayer.name}} />
        </div>
        <label for={{concat "opacity-slider-" raster.rasterLayer.name}} class="atlm-opacity-slider-label">opacity</label>
      </div>
      <div class="uk-width-1-6 atlm-grip uk-grid-collapse uk-child-width-1-1" uk-grid>
        {{#if (gt @project.rasters.length 1)}}
          {{#unless raster.isTop}}
            <div role="button" tabindex="0" class="uk-text-center atlm-reorder-button-up"
              {{on 'keyup' (fn this.keyboardReorder raster 'up')}} {{on 'click' (fn this.keyboardReorder raster 'up')}}>
              <FaIcon @icon="chevron-up" />
            </div>
          {{/unless}}
          <div class="uk-text-center">
            <FaIcon @icon="grip-vertical" />
          </div>
          <div class="uk-text-center">
            {{#unless raster.isBottom}}
              <div role="button" tabindex="0" class="uk-text-center atlm-reorder-button-down"
                {{on 'keyup' (fn this.keyboardReorder raster 'down')}}
                {{on 'click' (fn this.keyboardReorder raster 'down')}}>
                <FaIcon @icon="chevron-down" />
              </div>
            {{/unless}}
          </div>
        {{/if}}
      </div>
      <div class="uk-accordion-content uk-width-1-1">
        <article class="uk-article">
          {{raster.rasterLayer.description}}
          <p class="uk-article-meta">Layer provided by: {{raster.rasterLayer.institution.name}}</p>
        </article>
        <footer class="uk-child-width-auto uk-margin uk-padding-small uk-flex-center uk-grid-small uk-text-center atlm-share-buttons" uk-grid>
          <MapUi::ShareLayer @project={{@project}} @remove={{@remove}} @layer={{raster.rasterLayer}} />
          {{#if @project.mayEdit}}
            <div>
              <UkButton @color="primary" {{on "click" (perform @remove raster.rasterLayer.id)}}>
                <FaIcon @icon="trash-alt" /> Remove
              </UkButton>
            </div>
          {{/if}}
        </footer>
      </div>
    </li>
    {{/if}}
  {{/each}}
</ul>