<ul {{did-insert this.initInteraction}}>
  {{#each @layers as |vector|}}
    <li id={{concat "data-layer-" vector.id}} class="uk-margin-remove-left uk-padding-small atlm-layer-list-item atlm-vector-item" data-layer={{vector.id}} uk-grid>
      <div class="uk-width-1-6 uk-padding-small atlm-data-type" style={{html-safe vector.style}}>
        <FaIcon @icon={{vector.vectorLayer.icon}} />
      </div>
      <div class="uk-width-2-3 uk-child-width-1-1 uk-grid-small" uk-gird>
        <a id={{concat "data-layer-title-" vector.id}} class="uk-text-lead atlm-text-lead uk-accordion-title" href="#">
          {{vector.vectorLayer.title}}
        </a>
        {{#if vector.show}}
          <ProjectUi::VectorPanel::OpacitySlider @vector={{vector}} />
        {{else}}
        <div class="uk-padding-small">
          <UkButton @size="small" @color="secondary" id={{concat "show-" vector.vectorLayer.name}} {{on 'click' (fn this.showLayer vector.vectorLayer)}}>Show</UkButton>
        </div>
        {{/if}}
      </div>
      <div class="uk-width-1-6 uk-text-center uk-grid-collapse uk-child-width-1-1 uk-padding-small uk-padding-remove-vertical" uk-grid>
        {{!-- {{#unless vector.onTop}}
        <div role="button" tabindex="0" class="uk-text-center atlm-reorder-button-up uk-grid-collapse uk-child-width-1-1 uk-inline"
          {{on 'click' (fn this.bringToFront vector)}} uk-grid>
          <div class="uk-padding-small uk-padding-remove-horizontal uk-padding-remove-bottom">
            <FaIcon @icon="chevron-up" />
          </div>
          <div>
            Move to Top
          </div>
        </div>
        {{/unless}} --}}
      </div>
      <div class="uk-accordion-content uk-width-1-1">
        <article class="uk-article">
          {{vector.vectorLayer.safeDescription}}
          <ProjectUi::VectorPanel::Key @layer={{vector}} />
          {{#if vector.vectorLayer.institution}}
            <p class="uk-article-meta">Layer provided by: {{vector.vectorLayer.institution.name}}</p>
          {{/if}}
        </article>
        <footer class="uk-child-width-auto uk-margin uk-padding-small uk-flex-center uk-grid-small uk-text-center atlm-share-buttons" uk-grid>
          <ProjectUi::ShareLayer @layer={{vector.vectorLayer}} @project={{@project}} @remove={{@remove}} />
          {{#if @project.mayEdit}}
            <div>
              <UkButton @color="primary" {{on "click" (perform @remove vector.vectorLayer.id)}}>
                <FaIcon @icon="trash-alt" /> Remove
              </UkButton>
            </div>
            <div>
              {{#if vector.hasColorMap}}
                <UkButton id={{concat "edit-colors-" vector.id}} @color="primary" {{on "click" (fn this.editLayerColors vector)}}>
                  <FaIcon @icon="palette" /> Edit Colors
                </UkButton>
              {{else}}
                  <label for={{concat "color-" vector.id}}><FaIcon @icon="palette" /> Set Color</label>
                  <Input id={{concat "color-" vector.id}} @type="color" @value={{vector.color}} {{on 'input' (fn this.updatePointColor vector)}} {{on 'change' (fn this.saveColor vector)}}/>
              {{/if}}
            </div>
        {{/if}}
        </footer>
      </div>
    </li>
  {{/each}}
</ul>
{{#if this.vectorToEdit}}
  <ProjectUi::DefineColorMap @layer={{this.vectorToEdit}} @cancel={{this.cancelEdit}} @edit={{true}} @isTesting={{@isTesting}} />
{{/if}}