<ProjectUi::Popup @activeFeature={{this.activeFeature}} @close={{this.clearActiveFeature}} @closeKey={{this.clearActiveFeatureKey}} />
<LeafletMap
  @lat={{@project.centerLat}}
  @lng={{@project.centerLng}}
  @zoom={{@project.zoomLevel}}
  @onLoad={{this.initMap}}
  @onMoveend={{this.captureBounds}}
  @onZoomend={{this.captureBounds}}
  @onResize={{this.addZoomControl}}
  {{on 'keyup' this.clearActiveFeatureKey}}
as |layers|>

{{#if this.map}}
  {{#each @project._defaultBaseMap.layers as |layer index|}}
    <layers.tile
      @url={{layer}}
      @zIndex={{index}}
      @maxZoom={{20}}
      @className={{concat "base-" @project._defaultBaseMap.label}}
      @onLoading={{fn this.baseChange @project._defaultBaseMap}}
      @onLoad={{perform this.baseChanged}}
    />
  {{/each}}
  {{#if @project.hasRasters}}
    {{#each @project.sortedRasters as |raster|}}
      <layers.wms-tile
        @url={{raster.rasterLayer.url}}
        @layers={{raster.rasterLayer.layers}}
        @format="image/png"
        @transparent={{true}}
        @zIndex={{raster.position}}
        @opacity={{raster.rasterLayer.opacityTenths}}
        @className={{concat "raster-" raster.rasterLayer.name}}
        @maxZoom={{20}}
        @onLoad={{fn this.rasterAdded raster.rasterLayer}}
      />
    {{/each}}
  {{/if}}

  {{#if @project.hasVectors}}
    {{#each @project.reverseVectors as |vector|}}
      {{#if vector.show }}
        {{#if (eq vector.vectorLayer.dataFormat 'pbf')}}
          <layers.vectorTile
            @url={{concat vector.vectorLayer.institution.geoserver "/gwc/service/tms/1.0.0/" vector.vectorLayer.workspace ":" vector.vectorLayer.name "@EPSG:900913@pbf/{z}/{x}/{-y}.pbf"}}
            @zIndex={{concat vector.zIndex}}
            @idProperty={{vector.vectorLayer.propertyId}}
            @styleFeatures={{fn this.styleVectorTile vector vector.colorMap}}
            @layerName={{vector.vectorLayer.name}}
            @onClick={{fn this.activateVT vector}}
            @onTileload={{fn this.loadVectorTile vector}}
            @onAdd={{fn this.addVectorTileLayer vector}}
            @pane={{concat "vector-layer-" vector.id}}
          />
        {{else}}
          {{#each vector.vectorLayer.vectorFeatures as |feature|}}
            <span class="uk-hidden">{{vector-color vector feature}}</span>
            <layers.geojson
              @geoJSON={{feature.geojson}}
              @onEachFeature={{fn this.onEachFeature feature vector}}
              @pointToLayer={{fn this.addMarker feature vector}}
              @pane={{concat "vector-layer-" vector.vectorLayer.id}}
              @style={{feature.style}}
            />
          {{/each}}
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}
{{/if}}
</LeafletMap>

<div class="testing" id="map-component">
  <span id="center">
    {{@project.centerLat}} : {{@project.centerLng}}
  </span>
  <span id="zoom">
    {{@project.zoomLevel}}
  </span>
</div>