<div class="uk-card-media-top">
  <div uk-slideshow>
    <ul class="uk-slideshow-items atlm-popup-gallery">
      {{#each-in @properties.images as |index image|}}
        <li class="uk-text-center">
          {{#if image.link}}
            <a href={{image.link}} target="_blank">
              <figure>
                <img src="{{image.url}}" alt="" role="presentation">
                <figcaption class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                  LINK OPENS IN NEW TAB <FaIcon @icon="external-link-alt" />
                </figcaption>
              </figure>
            </a>
          {{else}}
            <a href={{concat "#image-modal-" @properties.images.id "-" index}} title={{image.caption}} uk-toggle>
              <img src="{{image.url}}" alt="" role="presentation">
            </a>
          {{/if}}
        </li>
      {{/each-in}}
    </ul>
    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
  </div>
</div>
{{#each-in @properties.images as |index image|}}
  {{#if (not image.link)}}
    <div id={{concat "image-modal-" @properties.images.id "-" index}} class="uk-flex-top" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <button class="uk-modal-close-outside" type="button" uk-close></button>
        <img src={{image.url}} alt="" role="presentation">
        {{#if image.caption}}
          <p class="uk-text-center">
            {{image.caption}}
          </p>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/each-in}}