<div class="row layer-heading">
    <table class="table">
        <tr>
            <td>
                <h3>Select Base Map</h3>
            </td>
            <table>
                <tr>
                    <td class="pull-right">{{partial 'close-button'}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </tr>
    </table>
</div>
<div class="route-content">
    {{#if model.editing}}
    {{#liquid-if editSuccess}}
        <div class="alert alert-dismissible alert-success">
            {{successMessage}}
        </div>
    {{/liquid-if}}
    {{#liquid-if editFail}}
        <div class="alert alert-dismissible alert-danger">
            {{failMessage}}
        </div>
    {{/liquid-if}}
    <a class="btn btn-success btn-flat btn-xs" {{action 'setCenterAndZoom' model}}>
        Set Center and Zoom Level
    </a>
{{else}}

{{/if}}
<a {{action 'setBase' 'street' model isEditing}} title="Open Street Map" class="btn btn-default base-preview street"></a>

<a {{action 'setBase' 'satellite' model isEditing}} title="Satellite" class="btn btn-default base-preview satellite"></a>
</div>
