<div class="row layer-heading">
    <table class="table">
        <tr>
            <td>
                <h3>Browse Layers</h3>
            </td>
            <table>
                <tr>
                    <td class="pull-right">{{partial 'close-button'}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </tr>
    </table>
</div>
<div class="browse-pane route-content">
    <div style="overflow:auto">
    {{#liquid-if editSuccess}}
        <div class="alert alert-dismissible alert-success">
            Project info has been updated!
        </div>
    {{/liquid-if}}
    {{#liquid-if editFail}}
        <div class="alert alert-dismissible alert-danger">
            Dang, something went wrong. The project info was not updated.
        </div>
    {{/liquid-if}}
    {{browse-text getResults='getResults'}}
    <hr />
    {{browse-tags model=categories getResults='getResults'}}
    <hr />
    {{browse-years model=yearRange getResults='getResults'}}
    <hr />
    {{browse-institution model=institutions getResults='getResults'}}
    </div>
</div>
