{{#project-pane title='About this Project' model=model.project}}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          {{#if model.project.editing}}
            {{input value=model.project.name}} {{textarea class='description' value=model.project.description maxlength='255'}}
            <span class="character-counter">{{model.project.description.length}}/255</span>
          {{else}}
            <span class="card-title">About</span>
            <p>{{model.project.description}}</p>
          {{/if}}
        </div>
        <div class="card-action">
          {{#if model.project.hasIntro}}
            {{#if model.project.editing}}
              <button class="btn waves-effect waves-light" type="submit" {{action 'toggleIntro'}}>
                edit intro
              </button> {{input type='checkbox' class='filled-in' id='publish' checked=model.project.published click=(action (route-action 'updateProject' model.project 'info')) }}
              <label for='publish'>
              <span class="check"></span> Publish{{this.flashMessage}}
            </label>
            {{else}}
              <button class="btn waves-effect waves-light" type="submit" {{action 'toggleIntro'}}>
                learn more
              </button>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/project-pane}}
