{{#project-pane title='About this Project' model=model.project}}
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">

            <span class="card-title">About</span>
            <p>{{model.project.description}}</p>
        </div>
        <div class="card-action">

            {{#if model.project.editing}}
              <button class="btn waves-effect waves-light blue-grey" type="submit" {{action 'toggleIntro'}}>
                <i class="material-icons left">edit</i>edit intro
              </button>
              {{!-- <a {{action (route-action 'updateProject' model.project 'info')}}
                class="waves-effect waves-light btn-flat">
                <i class="material-icons left">cloud</i>
                Publish
              </a> --}}
              {{input type='checkbox' id='publish' checked=model.project.published click=(action (route-action 'updateProject' model.project 'Project has been updated!')) }}
              <label for='publish' class="waves-effect waves-light btn publish-label">
                <span class="btn blue-grey waves-effect waves-blue white-text" type="submit">
                <i class="material-icons">{{if model.project.published 'check_box' 'check_box_outline_blank'}}</i>
                Publish
              </span>
            </label>
            <button class="btn waves-effect waves-light green white-text right" type="submit" {{action (route-action 'updateProject' model.project 'Project has been updated!')}}>save</button>
            {{else if model.project.hasIntro}}
              <button class="btn-flat waves-effect waves-light" type="submit" {{action 'toggleIntro'}}>
                learn more
              </button>
            {{/if}}

        </div>
      </div>
    </div>
  </div>
{{/project-pane}}
