{{#project-pane title='Maps' model=model.project raster=true}}
    {{#sortable-group tagName="ul" class='scrollable-list project-collapsible' model=model onChange="reorderItems" as |group|}}
        {{#each model.project.sortedRasterLayers as |layer|}}
            {{#sortable-item tagName="li" class='sortable-item layer-list-item' id=raster.raster_layer_id.name model=layer group=group handle=".reorder-handle" }}
                {{#if layer.raster_layer_id.name}}
                    {{#layer-list-item layer=layer.raster_layer_id showSlider=true}}

                        {{layer-item-title layer=layer.raster_layer_id layers=model.project.raster_layer_ids}}

                        <div class='layer-list-item-secondary-action'>
                          <div class='secondary-action-row raster'>
                            <i class="fa fa-drag-handle reorder-handle" aria-hidden="true"></i>
                            </div>
                            <div class='secondary-action-row raster'>
                            {{!-- <div class='twelve-col'> --}}
                            {{#if model.project.may_edit}}
                                {{remove-layer-button model=model layer=layer.raster_layer_id}}
                            {{else if (and layer.raster_layer_id layer.raster_layer_id.active_in_list)}}
                                    {{shareable-link layer=layer.raster_layer_id}}
                            {{/if}}
                          </div>
                        </div>
                    {{/layer-list-item}}
                {{else}}
                    Loading...
                {{/if}}
            {{/sortable-item}}
            {{else}}
                <h4 class='row'>No maps have been added</h4>
        {{/each}}
    {{/sortable-group}}
{{/project-pane}}
