{{#project-pane title='Maps' model=model.project raster=true}}
    {{#sortable-group tagName="ul" class='scrollable-list project-collapsible' model=model onChange="reorderItems" as |group|}}
      {{#each model.project.sortedRasterLayers as |layer|}}
        {{#sortable-item tagName="li" class='sortable-item layer-list-item' id=raster.raster_layer_id.name model=layer group=group handle=".reorder-handle" }}
          {{#if layer.raster_layer_id.name}}
          {{#layer-list-item layer=layer.raster_layer_id showSlider=true}}
            <div class='layer-list-item-icon'>
              <i class='material-icons'>layers</i>
            </div>

            {{layer-item-title layer=layer.raster_layer_id layers=model.project.raster_layer_ids}}

            <div class='layer-list-item-secondary-action'>
              <span>
              {{#if (eq layer model.project.sortedRasterLayers.firstObject)}}
                <i class="fa fa-sort-desc reorder-handle" aria-hidden="true"></i>
              {{else if (eq layer model.project.sortedRasterLayers.lastObject)}}
                <i class="fa fa-sort-asc reorder-handle" aria-hidden="true"></i>
              {{else}}
                <i class="fa fa-sort reorder-handle" aria-hidden="true"></i>
              {{/if}}
            </span><br />
                {{#if model.project.editing}}
                  {{remove-layer-button model=model layer=layer.raster_layer_id}}
                {{else}}
                  {{#if layer.raster_layer_id.name}}
                    {{shareable-link layer=layer.raster_layer_id}}
                  {{/if}}
                {{/if}}
            </div>
          {{/layer-list-item}}
        {{else}}
          Loading...
        {{/if}}
        {{/sortable-item}}
        {{else}}
          <h4 class='row'>No maps have been added</h4>
      {{/each}}
    {{/sortable-group}}
{{/project-pane}}
