{{outlet}}
{{ reorder-layers mode=isEditing }}

<section class="cotainer project-pane">
    <section class="row">
        <section class="col-xs-10">
            <h1>Archival Map Layers</h1>
        </section>
        <section class="col-xs-2">
            {{ hide-all-raster-layers }}
        </section>
</section>
    <ul class="list-unstyled raster-list" id="layer_sort">
        {{#each model.sortedRasterLayers key="@index" as |layer|}}
                <li class="{{layer.slug}} raster-layer" id="{{layer.slug}}">
                    <a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.title}}</a>
                    <span class="handle pull-right"><i class="material-icons reorder">code</i></span>
                    {{opacity-slider layer=layer}}
                    <section class="layer-info-detail {{layer.slug}}">
                        <article>{{layer.description}}</article>
                        {{partial 'citation'}}
                    </section>
                </li>
        {{else}}
            No data layers have been added.
        {{/each}}
    </ul>
</section>
