{{#project-pane title='Data Layers' model=model.project vector=true action='toggleAllVectorLayers' }}
  <ul class='layer-list-items'>

    {{#each model.project.vector_layer_project as |layer|}}
      <li id={{layer.vector_layer.name}} class='layer-list-item'>
        {{#if layer.vector_layer.name}}
          {{input type='checkbox' class='layer-list-item-detail-toggle' name='vector-layer' id=(concat layer.vector_layer.slug '-checkbox') }}
          {{#layer-list-item layer=layer.vector_layer project=model.project}}


              {{!-- Color Picker --}}
              {{#if model.project.may_edit}}
                {{#if layer.showColorPicker}}
                  {{#tether-dialog close=(toggle 'showColorPicker' layer) container-class='color-picker' hasOverlay=false target='' clickOutsideToClose=true }}
                    <span onclick={{action (toggle 'showColorPicker' layer)}} class='close-button right'>
                        <i class='fa fa-times-circle-o' aria-hidden='true'></i>
                    </span>
                    {{color-picker projectLayer=layer}}
                  {{/tether-dialog}}
                {{/if}}
              {{/if}}
              {{!-- END Color Picker --}}
              <span class='layer-list-item-icon vector-icon layer-{{layer.vector_layer.colorName}} {{layer.vector_layer.data_type}}' onclick={{action (toggle 'showColorPicker' layer)}} />

              <span class='layer-list-item-title'>
                <label for='{{concat layer.vector_layer.slug '-checkbox'}}' class='layer-list-item-detail-toggle-label'>
                  {{layer.vector_layer.title}}
                </label>
              </span>

            <div class='layer-list-item-secondary-action'>
                {{show-hide-layers layer=layer.vector_layer}}
            </div>

        {{/layer-list-item}}
      {{else}}
        <h3>Loading...</h3>
      {{/if}}
    </li>
    {{#unless (eq layer model.project.vector_layer_project.lastObject)}}
    <hr />
    {{/unless}}
  {{else}}
    <h4>No data layers have been added</h4>
  {{/each}}
  </ul>
{{/project-pane}}
