{{#project-pane title='Data Layers' model=model.project vector=true action="toggleAllVectorLayers"}}
<div class='card'>

  <ul class='scrollable-list collapsible' data-collapsible='accordion'>
    {{#each model.project.vector_layer_project_ids as |layer|}}
      <li id={{layer.vector_layer_id.name}}>
        <div class='collapsible-header'>
          <div class='row'>
            {{!-- marker color is a helper --}}
            <div class='col s1 vector-icon left
              {{layer.vector_layer_id.data_type}}
              {{layer.vector_layer_id.data_format}}
              {{marker-color layer.marker dataColors.markerColors dataColors.shapeColors layer.vector_layer_id.data_type}}'
            >
            </div>
            <div class='title data-title col s7'>
              {{if layer.vector_layer_id.name layer.vector_layer_id.title 'Loading...'}}
            </div>
            <div class='col s1'>
              {{#if model.project.may_edit}}
                <a class='remove-layer secondary-conent' onclick={{action (route-action 'addRemoveLayer' layer.vector_layer_id) preventDefault=true}}>
                  <i class='remove-layer right material-icons'>delete</i>
                </a>
              {{/if}}
            </div>
            <div class='col s2'>
              {{!-- {{md-switch checked=layer.showing onLabel='' offLabel='' action='toggleVectorLayer' layer=layer}} --}}
              <div class="switch list">
              <label>
                <input type="checkbox" checked={{layer.showing}} {{action 'toggleVectorLayer' layer checked on="change"}}>
                <span class="lever"></span>
              </label>
            </div>
            </div>
          </div>
        </div>
        <div class='collapsible-body card-content'>
          <p class='black-text'>
            {{if layer.vector_layer_id.description layer.vector_layer_id.description 'No description :('}}
          </p>
          {{layer-citation layer=layer.vector_layer_id}}
        </div>
      </li>
    {{else}}
      <h4 class='row'>No data layers have been added</h4>
    {{/each}}
  </ul>
</div>
{{/project-pane}}
