{{outlet}}
<div class="vector-data card">

    <div class="layer-list list-group">
        {{#each model.vector_layer_ids key="@index" as |layer|}}
                <div class="list-group-item {{layer.slug}} vector-layer">
                    {{project-vector-icon layer=layer projectID=model.id}}
                    <a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.title}}</a>
                    <div class="layer-info-detail {{layer.slug}}">
                        <p class="list-group-item-text">{{layer.description}}</p>
                        {{partial 'citation'}}
                    </div>
                </div>
        {{else}}
            No data layers have been added.
        {{/each}}
    </div>

</div>
