<section class="cotainer">
    <h1>Data Layers</h1>
    <ul class="list-unstyled">
        {{#each model.vector_layer_project_ids as |layer|}}
                <li class="{{layer.vector_layer_id.slug}} vector-layer">
                    <span class="map-marker
                        {{layer.vector_layer_id.data_type}}
                        {{layer.vector_layer_id.data_format}}
                        {{marker-color layer.marker dataColors.markerColors dataColors.shapeColors layer.vector_layer_id.data_type}}">
                    </span>
                    <a {{action 'showLayerInfoDetals' layer}}>{{layer.vector_layer_id.title}}</a>
                    {{#liquid-if layer.clicked}}
                        <article>{{layer.vector_layer_id.description}}</article>
                        {{layer-citation layer = layer.vector_layer_id}}
                        {{#if isEditing}}
                        <footer class="row">
                            <div class="col-md-8"></div>
                            <div class="col-md-4">
                                <a class="btn btn-raised btn-danger pull-right" {{action "removeLayer" layer.vector_layer_id 'vector' }}><i class="material-icons">close</i></a>
                            </div>
                        </footer>
                        {{/if}}
                    {{/liquid-if}}
                </li>
        {{else}}
            No data layers have been added.
        {{/each}}
    </ul>
</section>
