{{#project-pane title='Data Layers' model=model.project vector=true action="toggleAllVectorLayers" }}
  <div class='card'>
    <ul class='scrollable-list project-collapsible collapsible' data-collapsible='accordion'>
      {{#each model.project.vector_layer_project_ids as |layer|}}
        <li id= {{layer.vector_layer_id.name}}>
          {{#layer-list-item layer=layer.vector_layer_id}}
            <div class='col s1 vector-icon left
              {{layer.vector_layer_id.data_type}}
              {{layer.vector_layer_id.data_format}}
              {{marker-color layer.marker dataColors.markerColors dataColors.shapeColors layer.vector_layer_id.data_type}}'>
            </div>
            <div class='title data-title col s8'>
              {{if layer.vector_layer_id.name layer.vector_layer_id.title 'Loading...'}}
            </div>
            <div class='col s2'>
              <div class='row'>
                <div class='col s12'>
                  <div class="switch list">
                    <label>
                      <input type="checkbox" checked={{layer.vector_layer_id.showing}} {{action 'toggleVectorLayer' layer.vector_layer_id checked on="change"}}>
                      <span class="lever"></span>
                    </label>
                  </div>
                </div>
              </div>
              {{remove-layer-button model=model layer=layer}}
            </div>
          {{/layer-list-item}}
        </li>
      {{else}}
        <h4 class='row'>No data layers have been added</h4>
      {{/each}}
    </ul>
  </div>
{{/project-pane}}
