<div class="row layer-heading">
    <table class="table">
        <tr>
            <td>
                <h2>Data Layers {{model.visiable_vector}} : {{model.showing_all_vectors}}</h2>
            </td>
            <table>
                <tr>
                    <td class="pull-right">{{partial 'close-button'}}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td class="togglebutton opacity toggle-all pull-right">
                        <label>
                            {{!input type="checkbox"
                                    checked=model.visiable_vector
                                    elementId="toggle-all-vectors"
                                    change=(route-action "toggleAllVectorLayers")
                            }}
                            <input type="checkbox"
                                    id="toggle-all-vectors"
                                    checked={{model.visiable_vector}}
                                    {{action 'toggleAllVectorLayers' layer checked on="change"}} />
                            <span class="toggle"></span>
                        </label>
                    </td>
                </tr>
            </table>
        </tr>
    </table>
</div>

<div class="route-content vector-list">
    {{#each model.vector_layer_project_ids as |layer|}}
        <div class="{{layer.vector_layer_id.slug}} panel panel-default">

            <div class="row layer-heading">
                {{! Moving forward with out the data_type causes problems.}}
                {{#if layer.vector_layer_id.data_type}}
                <div class="col-md-1 vector-icon
                    {{layer.vector_layer_id.data_type}}
                    {{layer.vector_layer_id.data_format}}
                    {{!-- marker color is a helper --}}
                    map-marker
                    {{marker-color layer.marker dataColors.markerColors dataColors.shapeColors layer.vector_layer_id.data_type}}">
                </div>
                {{/if}}

                <div class="col-md-8">
                    <h3>
                        <a {{action 'showLayerInfoDetals' layer}}>
                            {{ if layer.vector_layer_id.title layer.vector_layer_id.title 'Loading...'}}
                        </a>{{layer.showing}}
                    </h3>
                </div>

                <div class="togglebutton opacity vector single-vector col-md-3">
                    {{#liquid-if model.editing}}
                    {{vector-layer-option-panel layer=layer group=layer.vector_layer_id.color_group}}
                    {{else}}
                    <label class="pull-right">
                        <input type="checkbox"
                                checked={{layer.showing}}
                                {{action 'toggleVectorLayer' layer checked on="change"}} />
                        <span class="toggle"></span>

                    </label>
                    {{/liquid-if}}
                </div>
            </div>

            {{#liquid-if layer.clicked}}
            <div class="panel-body">
                <article class="layer">{{layer.vector_layer_id.description}}</article>
            </div>

            {{!
                TODO: move the actions into the layer-citation components
                The actions make it tricky.
                TODO: remember what I meant by this.
            }}
            <div class="panel-footer row">
                {{#liquid-if model.editing}}
                    <div class="layer-citation">
                        <div class="col-md-10">
                            <h6>Provided by:</h6>
                            <h4>{{layer.vector_layer_id.institution.name}}</h4>
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void(0)" class="pick-color pull-right has-tooltip" data-tooltip-content="hi there">
                                <i class="material-icons">palette</i>

                            </a>
                        <!-- </div>
                        <div class="col-md-2"> -->
                            <a {{action "removeLayer" layer.vector_layer_id 'vector' }} class="delete pull-right">
                                <i class="material-icons">delete_forever</i>
                            </a>
                        </div>
                    </div>
                {{else}}
                    {{layer-citation layer = layer.vector_layer_id}}
                {{/liquid-if}}
            </div>
            {{/liquid-if}}
        </div>
    {{else}}
    No data layers have been added.
    {{/each}}
</div>
