{{outlet}}

<section class="cotainer project-pane">
    <h1>Data Layers</h1>
    <ul class="list-unstyled">
        {{#each model.vector_layer_ids key="@index" as |layer|}}
                <li class="{{layer.slug}} vector-layer">
                    {{project-vector-icon layer=layer projectID=model.id}}
                    <a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.title}}</a>
                    <div class="layer-info-detail {{layer.slug}}">
                        <article>{{layer.description}}</article>
                        {{partial 'citation'}}
                    </div>
                </li>
        {{else}}
            No data layers have been added.
        {{/each}}
    </ul>
</section>
