{{outlet}}

<section class="cotainer project-pane">
    <h1>Data Layers</h1>
    <ul class="list-unstyled">
        {{#each model.vector_layer_project_ids as |layer|}}
                <li class="{{layer.vector_layer_id.slug}} vector-layer">
                    {{project-vector-icon layer=layer projectID=model.id}}
                    <a {{action 'showLayerInfoDetals' layer}}>{{layer.vector_layer_id.title}}</a>
                    {{#liquid-if layer.clicked}}
                        <article>{{layer.vector_layer_id.description}}</article>
                        {{partial 'citation'}}
                    {{/liquid-if}}
                </li>
        {{else}}
            No data layers have been added.
        {{/each}}
    </ul>
</section>
