{{#project-pane title='Data Layers' model=model.project vector=true action="toggleAllVectorLayers" }}
  <div class='card'>
    <ul class='scrollable-list project-collapsible collapsible' data-collapsible='accordion'>
      {{#each model.project.vector_layer_project_ids as |layer|}}
        <li id= {{layer.vector_layer_id.name}}>
          {{#layer-list-item layer=layer.vector_layer_id}}
          {{#if layer.vector_layer_id}}
              <div class='col s1 vector-icon left
                {{layer.vector_layer_id.data_type}}
                {{layer.vector_layer_id.data_format}}
                layer-{{layer.colorName}}'>
              </div>
              {{/if}}
            <div class='title data-title col s8'>
              {{layer-item-title layer=layer.vector_layer_id layers=model.project.vector_layer_ids}}
            </div>
            <div class='col s2'>
              <div class='row'>
                <div class='col s12'>
                  {{toggle-switch layer=layer}}
                </div>
              </div>
              {{remove-layer-button model=model layer=layer}}
              {{#if layer.vector_layer_id.name}}
              {{shareable-link layer=layer.vector_layer_id}}
              {{/if}}
            </div>
          {{/layer-list-item}}
        </li>
      {{else}}
        <h4 class='row'>No data layers have been added</h4>
      {{/each}}
    </ul>
  </div>
{{/project-pane}}
