<div class="layer-controls">
	<div class="project-title project-view">
		<h1>{{model.name}}</h1>

		{{#if model.may_edit}}
			{{#link-to 'project.edit' model title="Switch to Edit Mode"}}
				<span class="mdi-editor-mode-edit"></span>
			{{/link-to}}
		{{/if}}
	</div>


	{{ project-nav mode='view' rasterCount=model.raster_layer_ids.length vectorCount=model.vector_layer_ids.length }}
	{{ reorder-layers mode='view' }}

	<div class="project-info card">
		<article>{{{model.description}}}</article>
		{{#if model.intro}}
			{{project-intro-modal project=model template=model.templateSlug}}
		{{/if}}
	</div>
	<div class="vector-data card">

		<div class="layer-list list-group">
			{{#each model.vector_layer_ids key="@index" as |layer|}}
					<div class="list-group-item {{layer.layer}} vector-layer">
						<span class="{{layer.layer_type}} {{layer.layer}}"></span>
						<a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.name}}</a>
						<div class="layer-info-detail {{layer.slug}}">
							<p class="list-group-item-text">{{layer.description}}</p>
							{{partial 'citation'}}
						</div>
					</div>
			{{else}}
				No data layers have been added.
			{{/each}}
		</div>

	</div>
	<div class="raster-layers card">
		<div class="pull-left">Archival Map Layers</div>
		{{ hide-all-raster-layers }}
		<div class="layer-list list-group raster-list" id="layer_sort">
		{{#each model.raster_layer_ids key="@index" as |layer|}}
				<div class="list-group-item raster-layer" id="{{layer.layer}}">
					<span class="{{layer.layer_type}} {{layer.layer}}"></span>
					<a {{action 'showLayerInfoDetals' layer.layer}}>{{layer.name}}</a>
					<span class="handle pull-right mdi-navigation-unfold-more"></span>
					{{opacity-slider layer=layer}}
					<div class="layer-info-detail {{layer.layer}}">
						<p class="list-group-item-text">{{layer.description}}</p>
						{{partial 'citation'}}
					</div>
				</div>
			{{else}}
				No scanned maps have been added.
			{{/each}}
		</div>
	</div>

	<div class="controls card">
		<h3>Select Base Map</h3>
		{{select-base-layer mode='view' model=model}}
	</div>

	<div class="help card">
		<h3>Help?</h3>
		Here is some help :)
	</div>

</div>

{{partial 'marker-data-window'}}
