<div class="layer-controls">
	<div class="project-title project-view">
		<h1>{{model.name}}</h1>

		{{#if model.may_edit}}
			{{#link-to 'project.edit' model}}
				<span class="mdi-editor-mode-edit"></span>
			{{/link-to}}
		{{/if}}
	</div>

{{!-- START VIEW PROJECT --}}

	{{ project-nav mode='view' }}
	{{ reorder-layers mode='view' }}

	


	<div class="project-info card">
		<article>{{{model.description}}}</article>
	</div>
	<div class="vector-data card">

		<div class="layer-list">
			<ul>
			{{#each model.vector_layer_ids key="@index" as |layer|}}
					<li>
						<span class="{{layer.layer_type}} {{layer.layer}}"></span>
						<a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.name}}</a>
						<div class="layer-info-detail {{layer.slug}}">
							<p class="list-group-item-text">{{layer.description}}</p>
							<div class="citation">Provided by: <img src='/assets/images/institutions/{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
						</div>
					</li>
			{{else}}
				No data layers have been added.
			{{/each}}
			</ul>
		</div>

	</div>
	<div class="raster-layers card">
		{{ hide-all-raster-layers }}
		<div class="layer-list list-group raster-list" id="layer_sort">
		{{#each model.raster_layer_ids key="@index" as |layer|}}
				<div class="list-group-item raster-layer" id="{{layer.layer}}">
					<span class="{{layer.layer_type}} {{layer.layer}}"></span>
					<a {{action 'showLayerInfoDetals' layer.layer}}>{{layer.id}}: {{layer.name}}</a>
					<span class="handle pull-right">&varr;</span>
					<div class="layer-info-detail {{layer.layer}}">
						<p class="list-group-item-text">{{layer.description}}</p>
						<div class="citation">Provided by: <img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
					</div>
					{{opacity-slider layer=layer}}
				</div>
			{{else}}
				No scanned maps have been added.
			{{/each}}
		</div>
	</div>

	<div class="controls card">
		<h3>Select Base Map</h3>
	</div>

	{{!-- END VIEW PROJECT --}}
</div>

<div class="marker-data draggable">
	<div class="panel-controls">
		<a {{action "snapBack" }} title="Snap Back"><span class="mdi-navigation-arrow-back"></span></a>
		<span class="mdi-action-open-with"></span>
		<a {{action "closeMarkerInfo" }} title="Close"><span class="mdi-content-clear"></span></a>
	</div>
	<div class="marker-content"></div>
</div>