<div class="banner orange">
    <div class="container">
        <header>
            <h2>Projects {{currentUser.user.displayname}}</h2>
        </header>
    </div>
</div>
{{!#if currentUser }}
<span calss="add-new-project">
  {{!-- <a class="btn btn-fab btn-default new-project" {{action 'createProject'}}><i class="material-icons">add</i></a> --}}
</span>
{{!/if}}
<div class="banner orange blurred">
    <div class="container project-list">
        {{#if session.isAuthenticated}}

            <header class="row">
                <div class="col-md-12">
                    <h4>My Projects</h4>
                </div>
            </header>
            <div class="list-group row">
                {{#each model.mine as |project|}}
                {{partial "project-list"}}
                {{/each}}
            </div>
        <hr />
            <header class="row">
                <div class="col-md-12"><h4>My Collaborations</h4></div>
            </header>
            <div class="list-group row">
                {{# each model.collaborations as |project|}}
                {{partial "project-list"}}
                {{else}}
                <h3>I don't collaborate <i class="material-icons">headset</i></h3>
                {{/each}}
            </div>
        <hr />
        {{/if}}
            <header class="row">
                <div class="col-md-12"><h4>Published Projects</h4></div>
            </header>
            <div class="list-group row">
                {{# each model.published as |project|}}
                {{partial "project-list"}}
                {{else}}
                <h3>No awesome projects have been published <i class="material-icons">thumb_down</i></h3>
                {{/each}}
            </div>
    </div>
</div>
{{liquid-outlet}}
