<div class="banner orange">
  <div class="container">
    <header>
      <h2>Projects</h2>
    </header>
  </div>
</div>
{{!#if currentUser }}
<span calss="add-new-project">
  {{!-- <a class="btn btn-fab btn-default new-project" {{action 'createProject'}}><i class="material-icons">add</i></a> --}}
</span>{{!/if}}
<div class="banner orange blurred">
  <div class="container">
    <h3>Published Projects</h3>
    <hr />
    <div class="row">
      {{#if model.isPending}}
        <h2>Loading...</h2>
      {{else}}
        {{#each model.published as |project|}}
          <div class='col m4 s12'>
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src='/assets/images/turner.jpg'>
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">{{project.name}}<i class="material-icons right">more_vert</i></span>
                <p>
                  {{#link-to 'project' project}}
                    Explore Project
                  {{/link-to}}
                </p>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{project.name}}<i class="material-icons right">close</i></span> {{project.description}}
              </div>
            </div>
          </div>
      {{else}}
        <p>There are no projects visible at this time :(</p>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
