<section class="uk-padding uk-grid-small" uk-grid>
  {{#if @layer.colorMap}}
    <section class="uk-width-1-1">{{uppercase @layer.property}}</section>
    {{#each-in @layer.colorMap as |index step|}}
        <div class="uk-width-1-6" id={{concat "color-" index}} style={{html-safe (concat "background-color: " step.color ";")}}>&nbsp;</div>
      {{#if step.top}}
        <div class="uk-width-5-6" id={{concat "step-" index}}>{{floor step.bottom}} - {{ceil step.top}}</div>
      {{else}}
        <div class="uk-width-5-6" id={{concat "step-" index}}>{{titleize index}}</div>
      {{/if}}
    {{/each-in}}
  {{/if}}
</section>
