<div id={{concat "modal-" @project.id}} class="uk-flex-top uk-modal-container" {{did-insert this.initModal}}>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2>{{@project.name}}</h2>
    </div>
    <article class="uk-modal-body" uk-overflow-auto>
      <section>
        {{#if this.showingModal}}
          <div class='embed-container'>
            <iframe src={{@project.embedUrl}} title={{@project.name}} frameborder='0' allowfullscreen></iframe>
          </div>
        {{/if}}
      </section>
      <section id="intro-modal-text">{{html-safe @project.intro}}</section>
    </article>
    <footer class="uk-modal-footer uk-text-right">
        {{#if this.cookieConsent}}
          <UkButton id="toggle-hide-cookie" {{on "click" this.toggleHideCookie}}>
            {{#if this.hideIntro}}
              <FaIcon @icon="check-square" />
            {{else}}
              <FaIcon @icon="square" @prefix="far" />
            {{/if}}
            Don't show each time
          </UkButton>
        {{/if}}
        <UkButton @color="secondary" uk-toggle target={{concat "#modal-" @project.id}}>
          Explore Project
        </UkButton>
    </footer>
  </div>
</div>