<UkButton class="uk-padding-small login-button {{@provider.provider}} uk-grid-collapse" @disabled={{this.session.isAuthenticated}} @color="primary" uk-grid {{on "click" this.signin}}>
  <div class="uk-width-1-6 uk-padding-small">
    {{#if @provider.icon}}
      <i class="demo-icon {{@icon}}"></i>
    {{else}}
      <FaIcon @icon={{@provider.provider}} @prefix="fab"></FaIcon>
    {{/if}}
  </div>
  <div class="uk-width-expand uk-text-left uk-padding-small uk-padding-remove-horizontal">
    {{yield}}
  </div>
</UkButton>