<nav class="atlm-search-nav" ...attributes>
  <section class="atlm-search-panel-top">
    <UkButton @color="link" class="uk-text-middle uk-margin-left" uk-toggle target="#atlm-layer-search-panel">
      <FaIcon @icon="times-circle" /> Find Layers
    </UkButton>
  </section>

<ul class="uk-subnav uk-subnav-pill uk-child-width-1-4 uk-margin-remove atlm-search-nav" connect=".atlm-search-content-panel" role="menubar" uk-gird {{did-insert this.initSwitcher}}>
    <li class="atlm-search-panel-tab uk-padding-remove-left" id="filters" role="menuitem" tabindex="0">
      <span>
        <div class="uk-child-width-1-1 uk-grid-collapse uk-text-center" uk-grid>
          <div>
            <FaIcon @icon="filter" />
          </div>
          <div>
            Filters
          </div>
        </div>
      </span>
    </li>
    <li class="atlm-search-panel-tab uk-padding-remove-left" id="maps" {{did-insert (perform this.searchResults.getRasters)}} role="menuitem" tabindex="0">
      <span>
        <div class="uk-grid-collapse uk-text-center" uk-grid>
          <div class="uk-width-1-3"></div>
          <div class="uk-width-1-3">
          {{!-- {{#if this.searchResults.getRasters.isRunning}} --}}
            <FaIcon @icon="map" @spin={{this.searchResults.getRasters.isRunning}} />
          </div>
          <div class="uk-width-1-3 uk-text-left">
            <span class="uk-badge">{{this.searchResults.rasters.meta.total_count}}</span>
          </div>
          <div class="uk-width-1-1">
            maps
          </div>
        </div>
     </span>
    </li>
    <li class="atlm-search-panel-tab uk-padding-remove-left" id="places" {{did-insert (perform this.searchResults.getPlaces)}} role="menuitem" tabindex="0">
      <span>
        <div class="uk-grid-collapse uk-text-center" uk-grid>
          <div class="uk-width-1-3"></div>
          <div class="uk-width-1-3">
            <FaIcon @icon="map-marker-alt" @spin={{this.searchResults.getPlaces.isRunning}} />
          </div>
          <div class="uk-width-1-3">
            <span class="uk-badge">{{this.searchResults.places.meta.total_count}}</span>
          </div>
          <div class="uk-width-1-1">
            Places
          </div>
        </div>
      </span>
    </li>
    <li class="atlm-search-panel-tab uk-padding-remove-left" id="data" {{did-insert (perform this.searchResults.getData)}} role="menuitem" tabindex="0">
      <span>
        <div class="uk-grid-collapse uk-text-center" uk-grid>
          <div class="uk-width-1-3"></div>
          <div class="uk-width-1-3">
            <FaIcon @icon="database" @spin={{this.searchResults.getData.isRunning}} />
          </div>
          <div class="uk-width-1-3">
            <span class="uk-badge">{{this.searchResults.data.meta.total_count}}</span>
          </div>
          <div class="uk-width-1-1">
            Data
          </div>
        </div>
      </span>
    </li>
</ul>
</nav>
<ul class="uk-switcher uk-list atlm-search-content-panel">
  {{yield}}
</ul>