<div>
  <UkButton @color="secondary" uk-toggle target={{concat "#share-modal-" @layer.name}}>
    <FaIcon @icon="share-alt" /> share
  </UkButton>
</div>
<div>
  <UkButton @color="secondary" uk-toggle target={{concat "#embed-modal-" @layer.name}}>
    <FaIcon @icon="code" /> embed
  </UkButton>
</div>

<div id={{concat "share-modal-" @layer.name}} class="uk-flex-top"  {{did-insert (fn this.initShareModal)}}>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h3>Layer Link</h3>
    <Input class="uk-input" @type="text" @value={{@layer.shareUrl}} id={{concat "share-" @layer.name}} aria-label={{concat "Shareable link for layer " @layer.title}} />
    <UkButton @color="primary" {{on "click" (fn this.copyText "share")}}>copy link</UkButton>
  </div>
</div>

<div id={{concat "embed-modal-" @layer.name}} class="uk-flex-top"  {{did-insert (fn this.initEmbedModal)}}>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h3>Layer Embed</h3>
    <label for={{concat 'embed-' @layer.name}}>Embed Code</label>
    <Input class="uk-input" @type="text" readonly @value={{this.embedCode}} id={{concat "embed-" @layer.name}} />
    <hr>
    <label class="uk-form-label" for={{concat 'embed-base-' @layer.name}}>Pick a base map:</label>
    <select id={{concat 'embed-base-' @layer.name}} class="uk-select" {{on 'change' this.setBase}}>
      {{#each this.bases as |base|}}
        <option value={{base}}>{{base}}</option>
      {{/each}}
    </select>
    <hr>
    {{#if @layer.geometryType}}
      <label class="uk-form-label" for={{concat 'layer-' @layer.name}}>Pick a  color:</label>
      <Input id={{concat 'layer-' @layer.name}} @type="color" @value={{this.color}} />
      <hr>
    {{/if}}
    <UkButton @color="primary" {{on "click" (fn this.copyText "embed")}}>copy embed code</UkButton>
  </div>
</div>