<div class="banner orange">
  <div class="container">
    <header>
      <h2>Projects</h2>
    </header>
  </div>
</div>
<div class="banner orange blurred">
  <div class="container">
    {{log model.currentUser}}
    {{#if model.currentUser.confirmed}}
    <span class='button-new'>
      <a {{action 'createProject'}} class="waves-effect waves-light btn"><i class="fa fa-plus" aria-hidden="true"></i> Start New Project</a>
    </span>
    {{/if}}

      {{#if model.isPending}}
        <h2>Loading...</h2>
      {{else}}
        {{#if model.mine}}
          <h3>My Projects</h3>
          <hr />
          <div class="cards">
          {{#each model.mine as |myProject|}}
            {{project-card project=myProject mine=true class='projects-page'}}
          {{/each}}
        </div>
        {{/if}}
        <h3>Public Projects</h3>
        <hr />
        <div class="row">
        {{#each model.featured as |project|}}
          {{project-card project=project}}
        {{else}}
          <p>There are no projects visible at this time :(</p>
        {{/each}}
        </div>
      {{/if}}
  </div>
</div>
