{{#if showingLogin}}
{{#tether-dialog close='toggleShowingLogin' translucentOverlay=true}}
{{login-form}}
{{/tether-dialog}}
{{/if}}

<div class="content">
  {{#unless isProjectDetail}}
    {{ main-nav model=model}}
    <div class='feedback white-text {{if flashMessage.success 'flash-success' 'flash-error'}} {{if flashMessage.show 'show-flash'}}'>{{flashMessage.message}}</div>

  {{/unless}}
  {{outlet}}
  {{#unless isProjectDetail}}
    {{ main-footer }}
  {{/unless}}
</div>
