<div class="uk-position-relative">

  <nav class="uk-navbar-container atlm-embed-nav" uk-navbar="dropbar: true">

    <div class="uk-navbar-left">

      <ul class="uk-navbar-nav">
        <li>
          <a href="#">
            <FaIcon class="uk-margin-small-right" @icon="caret-down" @rotation={{if this.showDropDown 180 0}} /> About Maps
          </a>
          <div class="uk-navbar-dropdown" {{on "show" (toggle "showDropDown" this)}} {{on "hide" (toggle "showDropDown" this)}}>
            <ul class="uk-nav uk-navbar-dropdown-nav" uk-accordion>
              {{#each this.model.rasters as |raster|}}
                <li>
                    <a class="uk-accordion-title" href="#">{{raster.title}}</a>
                    <div class="uk-accordion-content">
                      <RasterOpacitySlider @raster={{raster}} />
                        {{html-safe raster.description}}
                    </div>
                </li>
              {{/each}}
              {{#each this.model.vectors as |vector|}}
                <li>
                    <a class="uk-accordion-title" href="#">
                      <span class="uk-width-1-6 uk-padding-small atlm-data-type" style={{html-safe (concat "color:" this.color ";")}}>
                        <FaIcon @icon={{vector.icon}} />
                      </span>
                      {{vector.title}}
                    </a>
                    <div class="uk-accordion-content">
                        {{html-safe vector.description}}
                    </div>
                </li>
              {{/each}}

            </ul>
          </div>
        </li>
      </ul>

    </div>

  </nav>

  <div class="uk-navbar-dropbar"></div>

</div>

<div class="atlm-embed-map">
  <LeafletMap @lat={{this.lat}} @lng={{this.lng}} @zoom={{this.zoom}} @onLoad={{this.initMap}} as |layers|>
    {{#each this.baseLayer.layers as |base|}}
      <layers.tile @url={{base}} />
    {{/each}}

    {{#each this.model.rasters as |raster|}}
      <layers.wms-tile @url={{raster.url}} @layers={{raster.layers}} @format="image/png" @transparent={{true}}
        @opacity={{raster.opacityTenths}} @onAdd={{perform this.layerAdded raster}} role="button" />
    {{/each}}

    {{#each this.model.vectors as |vector|}}
      {{#each vector.vectorFeatures as |feature|}}
        <layers.geojson
          @geoJSON={{feature.geojson}}
          @onAdd={{perform this.layerAdded vector}}
          @pointToLayer={{fn this.setIcon feature}}
          @onEachFeature={{fn this.onEachFeature feature}}
        />
      {{/each}}
    {{/each}}
  </LeafletMap>
</div>

{{#if this.activeFeature}}
  <ProjectUi::Popup @activeFeature={{this.activeFeature}} @close={{this.clearActiveFeature}} @closeKey={{this.clearActiveFeature}} />
{{/if}}