{{liquid-outlet}}
<div class="banner blue valign-wrapper">

  <div class="center-align z-depth-3">
    <h1 class=''>Layers of discovery</h1>
    <h2 class=''>Mapping the stories of your city</h2>
    <span calss=''>
          {{#if session.isAuthenticated}}
              {{#link-to 'projects' tagName='a' class="btn btn-raised btn-info" }}Go to Projects{{/link-to}}
          {{else}}
              {{#link-to 'explore' tagName='a' class="btn btn-raised btn-info" }}
                Start Exploring
              {{/link-to}}

          {{/if}}
        </span>
  </div>

</div>

<div class="banner blue blurred">
  <div class="container">
    <h3>Featured Projects</h3>
    <hr />{{!-- Featured Projects --}}
    <div class="row">
      {{#if model.isPending}}
        <h2>Loading...</h2>
      {{else}}
        {{#each model as |project|}}
          <div class='col l4 m6 s12'>
            <div class="card small">
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">
                {{#link-to 'project' project.id}}
                {{project.name}}
                {{/link-to}}
              </span>
                <p>
                  <h6>By: {{project.owner}}</h6> {{project.description}}
                </p>
              </div>
            </div>
          </div>
      {{else}}
        <p>There are no projects visible at this time :(</p>
        {{/each}}
      {{/if}}
    </div>
    {{! end "old" look}}
  </div>
</div>
