<div class="uk-flex uk-position-fixed">
  <article class="uk-article uk-padding uk-overflow-hidden uk-overflow-auto atlm-share-layer-meta">
    <h1 class="uk-article-title">{{this.layer.title}}</h1>
    <p>{{html-safe this.layer.description}}</p>
    {{#if (eq this.type 'raster')}}
      <section>
        <Input id={{concat "opacity-slider-" this.layer.name}} class="atlm-slider" type="range" @min={{0}} @max={{100}} @step={{5}} @value={{this.opacity}} aria-label={{concat "opacity-slider-" this.layer.name}} />
      </section>
    {{/if}}
    {{#if this.activeFeature}}
      <h2>{{this.activeFeature.properties.title}}</h2>
      <ProjectUi::Popup::Content @properties={{this.activeFeature.properties}} />
    {{/if}}
  </article>
  <section class="atlm-share-layer-map">
    <LeafletMap
      @bounds={{this.center}}
      as |layers|
    >
    <layers.tile
        @url={{this.baseMaps.grayscale.layers.firstObject}}
        @attribution={{this.baseMaps.grayscale.attribution}}
      />

      {{#if (eq this.type 'raster')}}
        <layers.wms-tile
          @url={{this.layer.url}}
          @layers={{this.layer.layers}}
          @format="image/png"
          @transparent={{true}}
          @opacity={{this.calculatedOpacity}}
        />

      {{else}}
        {{#each this.layer.vectorFeatures as |feature|}}
        <layers.geojson
          @geoJSON={{feature.geojson}}
          @onEachFeature={{this.onEachFeature}}
          @color={{if (or (eq feature.geometryType 'LineString') (eq feature.geometryType 'MultiLineString')) (vector-color this.layer feature) "darkgray" }}
          @fillColor={{vector-color this.layer feature}}
        />
        {{/each}}
      {{/if}}

    </LeafletMap>
  </section>
</div>
