<div class='layers-route'>
  {{main-nav session='session' class='layers-nav'}}
  {{#project-pane title='Maps' class='layers-pane'}}
    {{!-- <div class='card'> --}}

      {{#sortable-group tagName="ul" class='scrollable-list project-collapsible collapsible layers-layer-item' style='background-color: transparent;' data-collapsible="accordion" model=model onChange="reorderItems" as |group|}}
        {{#each model.rasters as |layer|}}
          <li id={{layer.name}} class='layer-item'>

            {{#layer-list-item layer=layer}}

              {{#layer-item-title layer=layer}}
              <span class='layer-list-item-icon vector-icon
                layer-{{layer.colorName}} {{layer.data_type}}'>
              </span>
              {{/layer-item-title}}
              {{#if layer.leaflet_object}}
                {{show-hide-layers layer=layer class='layer-list-item-secondary-action'}}
              {{/if}}

            {{/layer-list-item}}
          </li>
        {{/each}}

        {{#each model.vectors as |layer|}}
        <li id={{layer.name}} class='layer-item'>

          {{#layer-list-item layer=layer}}

            {{#layer-item-title layer=layer}}
            <span class='layer-list-item-icon vector-icon layer-{{layer.colorName}} {{layer.data_type}}'>
            </span>
            {{/layer-item-title}}
            {{#if layer.leaflet_object}}
              {{show-hide-layers layer=layer class='layer-list-item-secondary-action'}}
            {{/if}}

          {{/layer-list-item}}
        </li>

        {{/each}}
        {{/sortable-group}}
    {{!-- </div> --}}
  {{/project-pane}}
  <div id='base-map' class='fullscreen-map'>
    <div id='map' class='atlmap'></div>
  </div>
</div>
{{vector-info}}
