<div id="base-map" class="fullscreen-map">
    <div id='map'></div>
    <div class="base-layer-controls"></div>
</div>

<div class="project-nav container">
    <nav class="project-nav-group pull-left">
        <div class="row head {{if model.editing 'edit'}}">
            {{#link-to "projects" title="Back to All Projects" }}
                <i class="material-icons exit">exit_to_app</i>
            {{/link-to}}
            <span>{{model.name}}</span>
            <span class="edit-button pull-right">
				{{#if model.may_edit}}
					<a {{action 'toggleEdit'}} title= {{if isEditing 'Exit Edit Mode' 'Edit Project'}}>
						<i class="material-icons">mode_edit</i>
					</a>
				{{/if}}
			</span>
        </div>
        <div class="row">
            {{#link-to "project.info" class="" id='project-info' title="Project Description" }}
                <i class="material-icons">info_outline</i> About this Project
            {{/link-to}}
        </div>
        {{#if model.may_browse}}
            <div class="row">
                {{#link-to "project.browse-layers" class="" id='browse' title="Browse Layers" }}
                    <i class="material-icons">search</i> Find Maps
                {{/link-to}}
            </div>
        {{/if}}
        {{#if model.vector_layer_project_ids}}
            <div class="row">
                {{#link-to "project.vector-layers" class="" id='vector-data' title="Pinpoint Layers" }}
                    <i class="material-icons atlmaps-ext database"></i> Data Maps
                {{/link-to}}
            </div>
        {{/if}}
        {{#if model.raster_layer_project_ids}}
            <div class="row">
                {{#link-to "project.raster-layers" class="" id='raster-layers' title="Archival Map Layers" }}
                    <i class="material-icons">layers</i> Historical Maps
                {{/link-to}}
            </div>
        {{/if}}
        <div class="row">
            {{#link-to "project.base-layers" class="" id='controls' title="Change Base Map" }}
                <i class="material-icons">map</i> Select Base Maps
            {{/link-to}}
        </div>
        <!-- {{#link-to "project.help" class=" project-nav" id='help' title="Show Help Window"}}
	    	<i class="material-icons">help_outline</i>
	    {{/link-to}} -->
    </nav>
</div>



<div class="project-pane">
    <div class="project-route">
        {{liquid-outlet}}
    </div>
</div>

<!-- </div> -->
{{outlet "browse-results"}}
<!-- </div> -->

<!-- <a class=" rotate -fab -sm toggle-results"><i class="material-icons">chevron_right</i></a> -->
{{vector-info}}
{{#if model.intro}}
    {{#if showIntro.show}}
        {{#tether-dialog close='toggleIntro' translucentOverlay=true clickOutsideToClose=true container-class="project-intro" }}
            {{project-intro-modal action='toggleIntro' project=model }}
        {{/tether-dialog}}
    {{/if}}
{{/if}}
