<div id="base-map" class="fullscreen-map">
    <div id='map' class='atlmap'></div>
    <div class="base-layer-controls"></div>
</div>

{{project-nav model=model}}

<div class="project-pane">
    <div class="project-route">
        {{liquid-outlet}}
    </div>
</div>

<!-- </div> -->
{{outlet "browse-results"}}
<!-- </div> -->

<!-- <a class=" rotate -fab -sm toggle-results"><i class="material-icons">chevron_right</i></a> -->
{{!#tether-dialog hasOverlay=false }}
{{vector-info}}
    {{!/tether-dialog}}
    {{#if model.hasIntro}}
        {{#if showIntro.show}}
            {{#tether-dialog close='toggleIntro' translucentOverlay=true clickOutsideToClose=true container-class="project-intro" }}
                {{project-intro-modal action='toggleIntro' project=model keyboardActivated=true }}
            {{/tether-dialog}}
        {{/if}}
    {{/if}}
