<div class="row" id="base-map">
    {{ base-map }}
</div>
<div class="layer-controls">
	<div class="project-title project-view">
		<h1>{{model.name}}</h1>
		{{#if model.may_edit}}
			{{#link-to 'project.edit' model title="Switch to Edit Mode"}}
				<span class="mdi-editor-mode-edit"><i class="material-icons">mode_edit</i></span>
			{{/link-to}}
		{{/if}}
	</div>


	{{ project-nav projview=true rasterCount=model.raster_layer_ids.length vectorCount=model.vector_layer_ids.length }}

</div>
{{liquid-outlet}}
{{partial 'marker-data-window'}}
