{{outlet}}

{{!--<div id="hint"><span class="mdi-navigation-expand-more"></span></div>--}}

<a class="btn btn-fab btn-sm pull-left" style="display:none;" id="show-layer-options"><span class="mdi-action-visibility"></span></a>


<div class="layer-controls">
	<div class="project-title"><h1>{{model.name}}</h1></div>
	<div class="btn-group btn-group-justified">
		<a {{action 'backToProjects' }} class="btn btn-default transparent-button">
			<span class="mdi-navigation-arrow-back"></span>
		</a>
		<a {{action 'navigateProject' 'project-info'}} class="btn btn-default active-button project-nav" id="project-info">
			<span class="mdi-action-info-outline"></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data'}} class="btn btn-default transparent-button project-nav" id='vector-data'>
	    	<span class="mdi-maps-place"></span>
	    </a>
	    <a {{action 'navigateProject' 'raster-layers'}} class="btn btn-default transparent-button project-nav" id="raster-layers">
	    	<span class="mdi-maps-layers"></span>
	    </a>
	    <a {{action 'navigateProject' 'controls'}} class="btn btn-default transparent-button project-nav" id="controls">
	    	<span class="mdi-image-tune"></span>
	    </a>
	    <!--<a href="javascript:void(0)" class="btn btn-default">Edit</a>-->
	</div>

	<div class="marker-data draggable">
		<div class="panel-controls">
			<span class="mdi-action-open-with"></span>
			<a {{action "closeMarkerInfo" }}><span class="mdi-content-clear"></span></a>
		</div>
		<div class="marker-content"></div>
	</div>


	<div class="project-info card">
		<article>{{model.description}}</article>
	</div>
	<div class="vector-data card">

		<div class="layer-list list-group">
			{{#each layer in model.vector_layer_ids}}
				<div class="list-group-item">
					<span {{bind-attr class="layer.layer_type layer.layer"}}></span>
					{{layer.name}}
				</div>
			{{else}}
				No data layers have been added.
			{{/each}}
		</div>

	</div>
	<div class="raster-layers card">
		<div class="layer-list list-group raster-list" id="layer_sort">
			{{#each layer in model.raster_layer_ids}}
				<div class="list-group-item raster-layer" {{ bind-attr id="layer.layer"}}>
					{{!--<span {{bind-attr class="layer.layer_type layer.layer"}}></span>--}}
					{{layer.name}}
					<span class="handle pull-right">&varr;</span>
					{{ opacity-slider layer=layer.layer layerID=layer.id }}
				</div>
			{{else}}
				No scanned maps have been added.
			{{/each}}
		</div>
	</div>

	<div class="controls card">
		<div class="togglebutton opacity">
			<label>
				<input id="toggle-layer-opacity" type="checkbox" checked="checked"/><span class="toggle"></span> <span class="toggle_label"></span>
			</label>
			<h3>Select Base Map</h3>
		</div>
	</div>
	
</div>



<div class="row" id="base-map">
    {{ base-map }}
</div>


{{#if isShowingModal}}

  {{#modal-dialog close="toggleModal" alignment="center" translucentOverlay=true}}
    
<div class="list">
	{{#if layers.isPending}}
		Loading...
	{{else}}
		{{#each layer in layers.content}}
			<div {{bind-attr class=":layer-list-item :row :name layer.tag_slugs layer.institution.slug layer.layer_type" }}>
				<div class="col-xs-2">
					{{add-remove-layer-button action='addLayer' param=layer}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span {{bind-attr class="layer.layer_type :description_icon"}}></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
								{{#each tag in layer.tag_ids}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>


  {{/modal-dialog}}
{{/if}}