<div class="row" id="base-map">
    {{ base-map }}
</div>
<div class="layer-controls">
	<div class={{if isEditing 'project-title project-edit' 'project-title project-view'}}>
		<h1>{{model.name}}</h1>
		{{#if model.may_edit}}
            <a {{action 'toggleEdit'}} title={{if isEditing 'Exit Edit Mode' 'Edit Project'}}>
				<i class="material-icons pull-right">mode_edit</i>
			</a>
		{{/if}}
	</div>


	{{ project-nav projview=true model=model }}

</div>

{{liquid-outlet}}
{{partial 'marker-data-window'}}
