{{!-- {{#tether-dialog hasOverlay=false container-class='hack'}} --}}
    {{vector-info}}
{{!-- {{/tether-dialog}} --}}

<div id="base-map" class="fullscreen-map">
    <div id='map' class='atlmap'></div>
    <div class="base-layer-controls"></div>
</div>

{{project-nav model=model}}

<div class="project-pane">
    <div class="project-route">
        {{liquid-outlet}}
    </div>
</div>

<!-- </div> -->
{{outlet "browse-results"}}
<!-- </div> -->

<!-- <a class=" rotate -fab -sm toggle-results"><i class="material-icons">chevron_right</i></a> -->


{{#if model.hasIntro}}
    {{#unless model.suppressIntro}}
        {{#tether-dialog close='toggleIntro' translucentOverlay=true clickOutsideToClose=false container-class="project-intro" }}
            {{project-intro-modal action='toggleIntro' project=model keyboardActivated=true }}
        {{/tether-dialog}}
    {{/unless}}
{{/if}}
