{{#if this.deviceContext.isDesktop}}
  <div  role="main">
    {{#if this.fastboot.isFastBoot}}
      loading...
    {{else}}
      {{#if (or this.addRemoveVectorLayer.isRunning this.addRemoveRasterLayer.isRunning)}}
        <div class="uk-modal uk-open atlm-loading-modal">
          <div class="uk-modal-dialog uk-modal-body uk-text-center">
              <p>
                {{this.currentAction}} Layer {{this.layerAddingOrRemoving}} to Map
              </p>
          </div>
        </div>
      {{/if}}
      <ProjectUi::Menu @project={{this.model}} @save={{this.saveProject}} @removeRaster={{this.addRemoveRasterLayer}} @removeVector={{this.addRemoveVectorLayer}} />
      {{#if this.deviceContext.isDesktop}}
        {{#if this.model.mine}}
          <div class="atlm-toggle-layer-search">
            <UkButton class="atlm-large-button" uk-toggle="target: #atlm-layer-search-panel" @size="large" @color="secondary">
              Add Layers
            </UkButton>
          </div>
          <UkOffcanvas @open={{this.model.isExploring}} @id="atlm-layer-search-panel" @flip={{true}} class="uk-padding-remove atlm-search-panel uk-visible@m">
            <ProjectUi::SearchPanel @model={{this.model}}>
              <li>
                <section class="uk-panel uk-panel-scrollable uk-padding">
                  <ProjectUi::SearchPanel::Filters::Text />
                  <hr>
                  <ProjectUi::SearchPanel::Filters::Location />
                  <hr>
                  <ProjectUi::SearchPanel::Filters::Tags @categories={{this.categories}} />
                  <hr>
                  <ProjectUi::SearchPanel::Filters::Providers @providers={{this.institutions}} />
                </section>
              </li>
              <li class="uk-margin-remove">
                <section class="uk-panel uk-panel-scrollable">
                  <ProjectUi::SearchPanel::Results @resultType="maps" @getTask={{this.searchResults.getRasters}}>
                    {{#each this.searchResults.rasters as |raster|}}
                      <li class="uk-padding uk-grid-small uk-padding-remove-left" uk-grid>
                        <ProjectUi::SearchPanel::AddRemoveButton @layer={{raster}} @addRemove={{this.addRemoveRasterLayer}}>
                          <div class="uk-width-expand uk-grid-small" uk-grid>
                            <div class="uk-width-1-1 uk-text-lead">{{raster.title}}</div>
                            <div class="uk-width-1-3">
                              <img class="" src={{raster.thumb_url}} alt="" role="presentation">
                            </div>
                            <div class="uk-text-light uk-width-2-3">
                              {{raster.description}}
                            </div>
                          </div>
                        </ProjectUi::SearchPanel::AddRemoveButton>
                      </li>
                    {{/each}}
                  </ProjectUi::SearchPanel::Results>
                </section>
                <section class="uk-padding-small atlm-pagination">
                  <ProjectUi::SearchPanel::Pagination @meta={{this.searchResults.rasters.meta}} @type="rasters" />
                </section>
              </li>
              <li class="uk-margin-remove">
                <section class="uk-panel uk-panel-scrollable">
                  <ProjectUi::SearchPanel::Results @resultType="maps" @getTask={{this.searchResults.getPlaces}}>
                    {{#each this.searchResults.places as |vector|}}
                    {{#if vector.icon}}
                      <li class="uk-padding uk-grid-small uk-padding-remove-left" uk-grid>
                        <ProjectUi::SearchPanel::AddRemoveButton @layer={{vector}} @addRemove={{this.addRemoveVectorLayer}}>
                          <div class="uk-width-expand uk-grid-small" uk-grid>
                            <div class="uk-width-1-1 uk-text-lead"><FaIcon @icon={{vector.icon}} style={{html-safe vector.tmpStyle}} /> {{vector.title}}</div>
                            <div class="uk-text-light uk-width-1-1">
                              {{vector.safeDescription}}
                            </div>
                          </div>
                        </ProjectUi::SearchPanel::AddRemoveButton>
                      </li>
                    {{/if}}
                    {{/each}}
                  </ProjectUi::SearchPanel::Results>
                </section>
                <section class="uk-padding-small atlm-pagination">
                  <ProjectUi::SearchPanel::Pagination @meta={{this.searchResults.places.meta}} @type="places" />
                </section>
              </li>
              <li class="uk-margin-remove">
                <section class="uk-panel uk-panel-scrollable">
                  <ProjectUi::SearchPanel::Results @resultType="maps" @getTask={{this.searchResults.getData}}>
                    {{#each this.searchResults.data as |vector|}}
                      <li class="uk-padding uk-grid-small uk-padding-remove-left" uk-grid>
                        <ProjectUi::SearchPanel::AddRemoveButton @layer={{vector}} @addRemove={{this.addRemoveVectorLayer}}>
                          <div class="uk-width-expand uk-grid-small" uk-grid>
                            <div class="uk-width-1-1 uk-text-lead"><FaIcon @icon={{vector.icon}} style={{html-safe vector.tmpStyle}} /> {{vector.title}}</div>
                            <div class="uk-text-light uk-width-1-1">
                              {{vector.safeDescription}}
                            </div>
                          </div>
                        </ProjectUi::SearchPanel::AddRemoveButton>
                      </li>
                    {{/each}}
                  </ProjectUi::SearchPanel::Results>
                </section>
                <section class="uk-padding-small atlm-pagination">
                  <ProjectUi::SearchPanel::Pagination @meta={{this.searchResults.data.meta}} @type="data" />
                </section>
              </li>
            </ProjectUi::SearchPanel>
          </UkOffcanvas>
        {{/if}}
        {{#if this.model.hasIntro}}
          <ProjectUi::IntroModal @project={{this.model}} />
        {{/if}}
      {{/if}}
      <div class="atlm-project-map">
        <ProjectUi::Map @project={{this.model}} />
      </div>
      <ProjectUi::BaseLayers @project={{this.model}} />
      {{#if this.notification.note}}
        <div class="uk-flex-center uk-child-width-1-3 atlm-notification" uk-grid>
          <div class={{concat "uk-animation-slide-top uk-alert-" this.notification.noteClass}} uk-alert>
            <a href="#" class="uk-alert-close" uk-close></a>
            <p>{{this.notification.note}}</p>
          </div>
        </div>
      {{/if}}
      {{outlet}}
    {{/if}}
  </div>

  {{#if this.vectorToAdd}}
    <ProjectUi::DefineColorMap @layer={{this.vectorToAdd}} @cancel={{this.cancelColorMap}} />
  {{/if}}
{{else}}
  <ProjectUi::Menu @project={{this.model}} />
    <button class="uk-button uk-button-link uk-padding-small atlm-mobile-project-menu-button atlm-mobile-project-menu-button-layers {{if (eq this.model._defaultBaseMap.label "satellite") " white" ""}}" type="button" uk-toggle="target: #base-layers-offcanvas">
    <FaIcon @icon="layer-group" />
  </button>

  <div class="atlm-project-map">
    <ProjectUi::Map @project={{this.model}} />
  </div>

  <UkOffcanvas @id="base-layers-offcanvas" class="uk-offcanvas-bar uk-background-secondary uk-light">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <h2>Change Base Map</h2>
    <ProjectUi::BaseLayers @project={{this.model}} />
  </UkOffcanvas>
{{/if}}