{{outlet}}

{{!--<div id="hint"><span class="mdi-navigation-expand-more"></span></div>--}}

<a class="btn btn-fab btn-sm pull-left" style="display:none;" id="show-layer-options"><span class="mdi-action-visibility"></span></a>


<div class="layer-controls">
	<div class="project-title">
		<h1>{{model.name}}</h1>

		{{#if model.may_edit}}
			{{#if isEditing}}
				<a {{action 'editProject' model }} class="is-editing-project-button">
					<span class="mdi-editor-mode-edit"></span>
				</a>
			{{else}}
				<a {{action 'editProject' model }} class="edit-project-button">
					<span class="mdi-editor-mode-edit"></span>
				</a>
			{{/if}}
		{{/if}}
	</div>

	{{#if isEditing}}
	{{!-- START EDIT PROJECT --}}

	<div class="btn-group btn-group-justified">

		<a {{action 'navigateProject' 'project-info-edit'}} class="btn btn-default active-button project-nav" id="project-info-edit">
			<span class="mdi-action-info-outline"></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data-edit'}} class="btn btn-default transparent-button project-nav" id='vector-data-edit'>
	    	<span class="mdi-maps-place"></span>
	    </a>
	    <a {{action 'navigateProject' 'raster-layers-edit'}} class="btn btn-default transparent-button project-nav" id="raster-layers-edit">
	    	<span class="mdi-maps-layers"></span>
	    </a>
	    <a {{action 'navigateProject' 'controls-edit'}} class="btn btn-default transparent-button project-nav" id="controls-edit">
	    	<span class="mdi-image-tune"></span>
	    </a>
	    {{#if model.is_mine}}
	    	<a {{action 'navigateProject' 'collaborations-edit'}} class="btn btn-default transparent-button project-nav" id="collaborations-edit">
	    		<span class="mdi-social-group"></span>
	    	</a>
	    {{/if}}

	</div>

	<div class="project-info project-info-edit card">

		<div class="alert alert-success edit-info-success">
		    Project Updated!
		</div>

		<div class="form-group">
			<label for="edit_name">Title for the Project</label>
			{{input value=model.name name='name' id="edit_name" class="form-control h1"  }}
		</div>
		<div class="form-group">
			<label for="edit_description" class="form-control">Description (Max 255 Characters)</label>
			{{textarea value=model.description id="edit_description" class="form-control" rows="4" placeholder="Enter your project description here..." maxlength="255"}}

			<div class="publish_check">
				<div class="checkbox">
					<label>
						{{input type="checkbox" checked=model.published}}
						<span class="check"></span>
						Publish
					</label>
				</div>
			</div>
			<div class="text-right">
				<a class="btn btn-success btn-flat btn-xs" {{action 'updateProjectInfo' model}}>Save</a>
				<a class="btn btn-warning btn-flat btn-xs" {{action 'cancelUpdate' model}}>Cancel</a>
			</div>
		</div>
	</div>

	<div class="vector-data vector-data-edit card">

		<div class="layer-list">
			<div class="add_layer_button">
				<a class="btn btn-add add_layer_button" {{action 'toggleVectorModal'}}><span class="mdi-large"></span>Add/Remove Layers</a>
			</div>
			<ul>
			{{#each model.vector_layer_ids key="@index" as |layer|}}
					<li>
						<span class="{{layer.layer_type}} {{layer.layer}}">
						</span>
						<a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.name}}</a>
						<div class="layer-info-detail {{layer.slug}}">
							<p class="list-group-item-text">{{layer.description}}</p>
							<div class="citation">Provided by: <img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
						</div>
					</li>
			{{else}}
				No data layers have been added.
			{{/each}}
			</ul>
		</div>

	</div>
	<div class="raster-layers raster-layers-edit card">
		<div class="alert alert-success reorder-success">
		    New Order Saved!
		</div>
		<div class="add_layer_button">
			<a class="btn btn-add add_layer_button" {{action 'toggleRasterModal'}}><span class="mdi-large"></span>Add/Remove Layers</a>
		</div>
		<div class="layer-list list-group raster-list" id="layer_sort">
			{{#each model.raster_layer_ids key="@index" as |layer|}}
				<div class="list-group-item raster-layer" id="{{layer.layer}}"  layer-id="{{layer.id}}">
					<span class="{{layer.layer_type}} {{layer.layer}}"></span>
					<a {{action 'showLayerInfoDetals' layer.layer}}>{{layer.id}}: {{layer.name}}</a>
					<span class="handle pull-right">&varr;</span>
					<div class="layer-info-detail {{layer.layer}}">
						<p class="list-group-item-text">{{layer.description}}</p>
						<div class="citation">Provided by: <img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
					</div>
					<input class="value-input {{layer.layer}}" id="{{layer.slider_value_id}}" />
					<div class="slider {{layer.layer}} slider-material-orange-300" id="{{layer.slider_id}}" name="{{layer.layer}}"></div>
				</div>
			{{else}}
				No scanned maps have been added.
			{{/each}}
		</div>
	</div>

	<div class="controls controls-edit card">
		<div class="togglebutton opacity">
			<label>
				<input id="toggle-layer-opacity" type="checkbox" checked="checked"/><span class="toggle"></span> <span class="toggle_label"></span>
			</label>
			<h3>Select Base Map</h3>
		</div>
	</div>

	<div class="collaborations collaborations-edit card">
		<p>Collaborations will return soon.</p>
	</div>


	{{!-- END EDIT PROJECT --}}

	{{else}}

	{{!-- START VIEW PROJECT --}}

	<div class="btn-group btn-group-justified">
		<a {{action 'backToProjects' }} class="btn btn-default transparent-button">
			<span class="mdi-navigation-arrow-back"></span>
		</a>
		<a {{action 'navigateProject' 'project-info'}} class="btn btn-default active-button project-nav" id="project-info">
			<span class="mdi-action-info-outline"></span>
		</a>
	    <a {{action 'navigateProject' 'vector-data'}} class="btn btn-default transparent-button project-nav" id='vector-data'>
	    	<span class="mdi-maps-place"></span>
	    </a>
	    <a {{action 'navigateProject' 'raster-layers'}} class="btn btn-default transparent-button project-nav" id="raster-layers">
	    	<span class="mdi-maps-layers"></span>
	    </a>
	    <a {{action 'navigateProject' 'controls'}} class="btn btn-default transparent-button project-nav" id="controls">
	    	<span class="mdi-image-tune"></span>
	    </a>
	</div>

	<div class="marker-data draggable">
		<div class="panel-controls">
			<span class="mdi-action-open-with"></span>
			<a {{action "closeMarkerInfo" }}><span class="mdi-content-clear"></span></a>
		</div>
		<div class="marker-content"></div>
	</div>


	<div class="project-info card">
		<article>{{model.description}}</article>
	</div>
	<div class="vector-data card">

		<div class="layer-list">
			<ul>
			{{#each model.vector_layer_ids key="@index" as |layer|}}
					<li>
						<span class="{{layer.layer_type}} {{layer.layer}}"></span>
						<a {{action 'showLayerInfoDetals' layer.slug}}>{{layer.name}}</a>
						<div class="layer-info-detail {{layer.slug}}">
							<p class="list-group-item-text">{{layer.description}}</p>
							<div class="citation">Provided by: <img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
						</div>
					</li>
			{{else}}
				No data layers have been added.
			{{/each}}
			</ul>
		</div>

	</div>
	<div class="raster-layers card">
		<div class="layer-list list-group raster-list" id="layer_sort">
		{{#each model.raster_layer_ids key="@index" as |layer|}}
				<div class="list-group-item raster-layer" id="{{layer.layer}}">
					<span class="{{layer.layer_type}} {{layer.layer}}"></span>
					<a {{action 'showLayerInfoDetals' layer.layer}}>{{layer.id}}: {{layer.name}}</a>
					<span class="handle pull-right">&varr;</span>
					<div class="layer-info-detail {{layer.layer}}">
						<p class="list-group-item-text">{{layer.description}}</p>
						<div class="citation">Provided by: <img src='{{layer.institution.icon}}' alt='Logo' class="institution_logo" /> <span class="institution">{{layer.institution.name}}</span></div>
					</div>
					<input class="value-input {{layer.layer}}" id="{{layer.slider_value_id}}" />
					<div class="slider {{layer.layer}} slider-material-orange-300" id="{{layer.slider_id}}" name="{{layer.layer}}"></div>
				</div>
			{{else}}
				No scanned maps have been added.
			{{/each}}
		</div>
	</div>

	<div class="controls card">
		<div class="togglebutton opacity">
			<label>
				<input id="toggle-layer-opacity" type="checkbox" checked="checked"/><span class="toggle"></span> <span class="toggle_label"></span>
			</label>
			<h3>Select Base Map</h3>
		</div>
	</div>

	{{!-- END VIEW PROJECT --}}

	{{/if}}
	
</div>



<div class="row" id="base-map">
    {{ base-map }}
</div>


{{#if isShowingRasterModal}}

  {{#modal-dialog close="toggleRasterModal" alignment="center" translucentOverlay=true}}
    
  <div class="list">
	{{#if layers.isPending}}
		Loading...
	{{else}}
	{{#each rasterLayers.content key="@index" as |layer|}}
			<div class="layer-list-item row name {{layer.tag_slugs}} {{layer.institution.slug}} {{layer.layer_type}}">
				<div class="col-xs-2">
					{{#if layer.active_in_project}}
						<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeRasterLayer" layer }}><span class="mdi-content-clear"></span></a>
					{{else}}
						<a class="btn rotate btn-add btn-fab btn-sm" {{action "addRasterLayer" layer }}><span class="mdi-content-add"></span></a>
					{{/if}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span class="{{layer.layer_type}} description_icon"></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
							{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>


  {{/modal-dialog}}
{{/if}}


{{#if isShowingVectorModal}}

  {{#modal-dialog close="toggleVectorModal" alignment="center" translucentOverlay=true}}
    
  <div class="list">
	{{#if layers.isPending}}
		Loading...
	{{else}}
		{{#each vectorLayers.content key="@index" as |layer|}}
			<div class="layer-list-item row name {{layer.tag_slugs}} {{layer.institution.slug}} {{layer.layer_type}}">
				<div class="col-xs-2">
					{{#if layer.active_in_project}}
						<a class="btn rotate btn-added btn-fab btn-sm" {{action "removeVectorLayer" layer }}><span class="mdi-content-clear"></span></a>
					{{else}}
						<a class="btn rotate btn-add btn-fab btn-sm" {{action "addVectorLayer" layer }}><span class="mdi-content-add"></span></a>
					{{/if}}
					
				</div>
				<div class="col-xs-9">
					<h4 class="name"><span class="{{layer.layer_type}} description_icon}}"></span> {{layer.name}}</h4>
					<p>
      					<div class="description">{{layer.description}}</div>
    				</p>
    				<p>
    					{{!--{{#if layer.tag_ids}}--}}
    						<span class="tagsIcon"></span>
							<ul class="list-inline">
								{{#each layer.tag_ids key="@index" as |tag|}}
									<li class="tags">
										{{tag.name}}
									</li>
								{{else}}
									<li>none</li>
								{{/each}}
							</ul>
    					{{!--{{/if}--}}
    				</p>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>


  {{/modal-dialog}}
{{/if}}