<div class="tagem main-navbar">
    <div class="col-lg-2 col-md-2">
        {{ tag-count }}
    </div>
    <div class="col-lg-8 col-md-10 tagem-title">
        {{ model.layer.title }}
        {{input type="checkbox"
                checked=false
                elementId="toggleDescription"
        }}
        <label for="toggleDescription">
          <i class="material-icons">expand_less</i>
        </label>
        <div class="container tagem-description">
          <article>
            {{model.layer.description}}
          </article>
        </div>
    </div>
    <div class="col-lg-2 hidden-md">
        <a class="btn btn-raised btn-warning" {{action 'getNextMap'}}>Next <i class="material-icons">navigate_next</i></a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            {{#each model.categories as |category|}}
                <h4>{{category.name}}</h4>
                {{#each category.sortedTags as |tag|}}
                    {{#draggable-item content=tag layer=model.layer tag=tag tags=model.layer.tag_ids action=(route-action "addTag")}}
                        <h3><span class='label label-default {{if tag.assigned "tagged"}}'>{{tag.name}}</span></h3>
                    {{/draggable-item}}
                {{/each}}
            {{/each}}
        </div>

        <div class="map-to-tag col-md-6">
            {{input class="opacity leaflet-top leaflet-left" type='range' min=0.2 step=0.1 max=1.0 value=1 input=(route-action "opacity")}}
            {{#draggable-dropzone layer=model.layer dropped=(route-action "addTag")}}
                <div id="map" style="height:90vh;"></div>
                <a class="next-sm visible-md-* hidden-lg" {{action 'getNextMap'}}>
                  <i class="material-icons">navigate_next</i>
                </a>
            {{/draggable-dropzone}}
        </div>
    </div>
</div>
