<div class='navbar-fixed'>
<ul id="user" class="dropdown-content">
  <li>{{ tag-count }}</li>
  <li>{{currentUser}}</li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<ul id='title' class='dropdown-content'>
  <li>dneiierirnvornorvnmornorngon  ioegoejoe4 ogeo</li>
</ul>
<nav>
  <div class="nav-wrapper">
    <ul class="left hide-on-med-and-down">
      {{!-- <li><a class="dropdown-button" href="javascript:void(0);" data-activates="user"><i class="material-icons user">account_box</i></a></li>
      <li><a class="dropdown-button" href="javascript:void(0);" data-activates="title">some title</a></li> --}}
      <li>{{#previous-map layer=model.layers action=(route-action "getPreviousMap")}}
        <i class="material-icons">chevron_left</i>Back
      {{/previous-map}}</li>
      <li><button class="btn btn-default btn-warning" onclick={{route-action 'getNextMap' layer.id}}>Next<i class="material-icons">chevron_right</i></button></li>    </ul>
  </div>
</nav>
</div>
    <div class="neat-row">
      <div class='half'>
            {{#each model.categories as |category|}}
                <h4>{{category.name}}</h4>
                {{#each category.sortedTags as |tag|}}
                    {{#draggable-item content=tag layer=model.layers tag=tag tags=layer.tag_ids action=(route-action "addTag")}}
                        <h3><span class='label label-default {{if tag.assigned "tagged"}}'>{{tag.name}}</span></h3>
                    {{/draggable-item}}
                {{/each}}
            {{/each}}
</div>
<div class='half'>
            {{#draggable-dropzone layer=model.layers dropped=(route-action "addTag")}}
                <div id="map" style="height:90vh;"></div>
                <a class="next-sm visible-md-* hidden-lg" {{action 'getNextMap'}}>
                  <i class="material-icons">navigate_next</i>
                </a>
            {{/draggable-dropzone}}
            <div class="slider-container">
            {{input class="opacity" type='range' min=0 step=0.1 max=1.0 value=1 input=(route-action "opacity")}}
  </div>
</div>
</div>
