<h1>Edit Data Layer</h1>
<form>
  <label>Title</label>
  {{input value=(mut model.title) required='required'}}
  <label>Description</label>
  {{!-- {{textarea rows='12' value=(mut model.description) required='required'}} --}}
  {{#ember-trumbowyg model=model}}
  <textarea id='vector-layer-description-edit' value=model.description  onchange={{action (mut model.description) value="target.value"}}>{{model.description}}</textarea>
  {{/ember-trumbowyg}}
  <label>Attribution</label>
  {{input value=(mut model.attribution) required='required'}}
  <div class='row'>
    <label>Active</label>
    {{input type='checkbox' checked=model.active action=(toggle model.active model)}}

  </div>
  <div class='row'>
    <button {{action (route-action 'save' model)}}>save</button>
    {{#link-to 'admin.data'}}<button class='flat'>cancle</button>{{/link-to}}
  </div>
</form>
