<form>
  <label>Title</label>
  {{input value=(mut model.title) required='required'}}
  <label>Description</label>
  {{textarea rows='12' value=(mut model.description) required='required'}}
  <label>Attribution</label>
  {{input value=(mut model.attribution) required='required'}}
  <label>Active</label>
  {{input type='checkbox' checked=model.active action=(toggle model.active model)}}
  <button {{action 'save' model}}>save</button>
  <button class='flat' {{action 'save' model}}>cancle</button>
</form>
